<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<!-- Head BEGIN -->
<head>
  <meta charset="utf-8">
  <title>Common Expressions - Actions</title>

  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <meta content="Metronic Shop UI description" name="description">
  <meta content="Metronic Shop UI keywords" name="keywords">
  <meta content="keenthemes" name="author">

  <meta property="og:site_name" content="-CUSTOMER VALUE-">
  <meta property="og:title" content="-CUSTOMER VALUE-">
  <meta property="og:description" content="-CUSTOMER VALUE-">
  <meta property="og:type" content="website">
  <meta property="og:image" content="-CUSTOMER VALUE-"><!-- link to image for socio -->
  <meta property="og:url" content="-CUSTOMER VALUE-">

  <link rel="shortcut icon" href="favicon.ico">

  <!-- Fonts START -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|PT+Sans+Narrow|Source+Sans+Pro:200,300,400,600,700,900&amp;subset=all" rel="stylesheet" type="text/css">
  <!-- Fonts END -->

  <!-- Global styles START -->          
  <link href="/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Global styles END --> 
   
  <!-- Page level plugin styles START -->
  <link href="/assets/global/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet">
  <!-- Page level plugin styles END -->

  <!-- Theme styles START -->
  <link href="/assets/global/css/components.css" rel="stylesheet">
  <link href="/assets/frontend/layout/css/style.css" rel="stylesheet">
  <link href="/assets/frontend/layout/css/style-responsive.css" rel="stylesheet">
  <link href="/assets/frontend/layout/css/themes/red.css" rel="stylesheet" id="style-color">
  <link href="/assets/frontend/layout/css/custom.css" rel="stylesheet">
  <!-- Theme styles END -->
  <style type="text/css">
<!--
.STYLE2 {color: #BB3C68; font-weight: bold; }
-->
  </style>
</head>
<!-- Head END -->

<!-- Body BEGIN -->
<body class="corporate">
    <!-- BEGIN STYLE CUSTOMIZER -->
    <div class="color-panel hidden-sm">
      <div class="color-mode-icons icon-color"></div>
      <div class="color-mode-icons icon-color-close"></div>
      <div class="color-mode">
        <p>THEME COLOR</p>
        <ul class="inline">
          <li class="color-red current color-default" data-style="red"></li>
          <li class="color-blue" data-style="blue"></li>
          <li class="color-green" data-style="green"></li>
          <li class="color-orange" data-style="orange"></li>
          <li class="color-gray" data-style="gray"></li>
          <li class="color-turquoise" data-style="turquoise"></li>
        </ul>
      </div>
    </div>
    <!-- END BEGIN STYLE CUSTOMIZER --> 

    <!-- BEGIN TOP BAR -->
    <div class="pre-header">
        <div class="container">
            <div class="row">
                <!-- BEGIN TOP BAR MENU -->
				<!-- BEGIN TOP BAR LEFT PART -->
                <div class="col-md-6 col-sm-6 additional-shop-info"></div>
                <!-- END TOP BAR LEFT PART -->
				<div>
                    <ul class="list-unstyled list-inline pull-right">
                        <li><a href="page-login.html">Log In</a></li>
                        <li><a href="page-registration.html">Registration</a></li>
                    </ul>
                </div>
                <!-- END TOP BAR MENU -->
            </div>
        </div>        
    </div>
    <!-- END TOP BAR -->
    <!-- BEGIN HEADER -->
    <div class="header">
      <div class="container">
        <a class="site-logo" href="index.html"><img src="/assets/frontend/layout/img/logos/logo-corp-red.png" alt="Reading Chinese"></a>
        <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>

        <!-- BEGIN NAVIGATION -->
        <div class="header-navigation pull-right font-transform-inherit">
          <ul>
            <li class="dropdown">
            <li class="dropdown dropdown-megamenu">
              <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
			  Characters
			  </a>
              <ul class="dropdown-menu">
                <li><a href="hsk-characters.html">HSK Characters</a></li>
				<li><a href="most-used-characters.html">Most-used Characters</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
                Vocabulary 
              </a>                
              <ul class="dropdown-menu">
                <li><a href="hsk-vocabulary.html#tab-1" class="active">Level 1</a></li>
                <li><a href="hsk-vocabulary.html#tab-2" class="active">Level 2</a></li>
                <li><a href="hsk-vocabulary.html#tab-3" class="active">Level 3</a></li>
                <li><a href="hsk-vocabulary.html#tab-4" class="active">Level 4</a></li>
                <li><a href="hsk-vocabulary.html#tab-5" class="active">Level 5</a></li>
                <li><a href="hsk-vocabulary.html#tab-6" class="active">Level 6</a></li>       
              </ul>
            </li>
			<li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
                Grammar 
              </a>                
              <ul class="dropdown-menu">
                <li><a href="hsk-grammar.html">Level 1</a></li>
                <li><a href="hsk-grammar.html">Level 2</a></li>
                <li><a href="hsk-grammar.html">Level 3</a></li>  
              </ul>
            </li>
			<li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="expressions.html">
                Expressions 
              </a>                
              <ul class="dropdown-menu">
                <li><a href="express-greetings.html">Greetings</a></li>
                <li><a href="express-actions.html">Actions</a></li>
                <li><a href="express-opinions.html">Opinions</a></li>
                <li><a href="express-feelings.html">Feelings</a></li>
                <li><a href="express-conversations.html">Conversations</a></li>  
              </ul>
            </li>
            <!-- BEGIN TOP SEARCH -->
            <li class="menu-search">
              <span class="sep"></span>
              <i class="fa fa-search search-btn"></i>
              <div class="search-box">
                <form action="#">
                  <div class="input-group">
                    <input type="text" placeholder="Search" class="form-control">
                    <span class="input-group-btn">
                      <button class="btn btn-primary" type="submit">Search</button>
                    </span>
                  </div>
                </form>
              </div> 
            </li>
            <!-- END TOP SEARCH -->
          </ul>
        </div>
        <!-- END NAVIGATION -->
      </div>
    </div>
    <!-- Header END -->

    <div class="main">
      <div class="container">
        <ul class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="expressions.html">Common Expressions</a></li>
            <li class="active">Actions</li>
        </ul>

        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
          <!-- BEGIN CONTENT -->
          <div class="col-md-12 col-sm-12">
            <h1>Common Expressions - <font color="#C43765">Actions</font></h1>
              <div class="row">
                  <table cellspacing="2" border="1" bordercolor="#E492A7">
                    <tr>
                      <td width="128"><div align="center" class="STYLE2">邀请<br>
                      Invitations</div></td>
                      <td width="774">到我家来坐坐吧！<br>
                        ( some time/someone)+有空吗？有空的话+(邀请 someone 做 something )+吧<br>
                        ( someone )+想请您+( verbal structure )，不知您有没有时间<br>
                        ( someone )+想邀请您+( verbal structure )<br>
                        ……怎么样？[ in a tone of discuss ]<br>
                        ……好不好/行不行？[ in a tone of discuss ]<br>
                        定于*月*日在+( address )+举行+( an activity )，请出席。[ formal ]<br>
                        欢迎/敬请光临。[ formal ]</td>
                    </tr>
                    <tr>
                      <td><div align="center" class="STYLE2">约会<br>
                      Appointment</div></td>
                      <td>( time )+在( address    )+见/见面，怎么样？<br>
                        ( time )+在( address )+(做 something )<br>
                        说定了，……<br>
                        说好了，……<br>
                        就这么定了，……<br>
                        ……，不见不散<br>
                        ……，一言为定</td>
                    </tr>
                    <tr>
                      <td><div align="center" class="STYLE2">商量<br>
                      Discussions</div></td>
                      <td>……，怎么样？<br>
                        ……，好吗7<br>
                        …………行不行？<br>
                        ……，好不好？<br>
                        能不能……？<br>
                        是不是……7<br>
                        …………，你说呢？<br>
                        你看…………？<br>
                        是否…………？</td>
                    </tr>
                    <tr>
                      <td><div align="center" class="STYLE2">馈赠<br>
                      Presenting a gift</div></td>
                      <td>( a present )+是送给你的<br>
                        送给你+( a present )<br>
                        一点儿心意<br>
                        一点儿小意思<br>
                        ……，不成敬意，请笑纳<br>
                        捐给/捐赠给+( someone/an organization )</td>
                    </tr>
                    <tr>
                      <td><div align="center" class="STYLE2">交涉<br>
                      Negotiation</div></td>
                      <td>如果……，我们将……<br>
                        你们看怎么办吧！<br>
                        应不应该……，请你给我们一个说法<br>
                        明明……为什么不……？我们希望……<br>
                        ( a rhetorical question )？+你得……</td>
                    </tr>
                    <tr>
                      <td><div align="center" class="STYLE2">叙述<br>
                      Narration</div></td>
                      <td>先……再……接着……然后……后来……最后……<br>
                        ……，于是……<br>
                        ……，这才……    <br>
                        一/刚……便/就……<br>
                        本来……，后来……<br>
                        起先……，经过……才……<br>
                        ( tell something )，原来+( causes )<br>
                        ( tell something )，结果，……<br>
                        ( summary + narrative separately    )男人和女人各有各的虚荣。一般来说，男人更渴望名声，炫耀能力。女人更追求美貌，炫耀服饰。<br>
                        (narrative separately + summary )……；……；……。总之，……。</td>
                    </tr>
                    <tr>
                      <td><div align="center" class="STYLE2">说明<br>
                      Illumination</div></td>
                      <td>( someone )+是+( identity )<br>
                        ( someone )+今年…岁<br>
                        现在…点<br>
                        ( someone )+生于…年<br>
                        ……占……的*％<br>
                        ……是+( time, place, method, … )+( verb )+的<br>
                        譬如/比方说<br>
                        拿……来说<br>
                        说实在的，……<br>
                        老实说，……<br>
                        坦率地说……<br>
                        ……，为的是……<br>
                        ……，以便……<br>
                        ……，省得……<br>
                        ……，以免……<br>
                        ……，一来……，二来……<br>
                        因此<br>
                        ……之所以……是因为……<br>
                        由于……，所以……<br>
                        ……，一是……，二是……</td>
                    </tr>
                    <tr>
                      <td><div align="center" class="STYLE2">描述<br>
                      Description</div></td>
                      <td>这种葡萄很甜。<br>
                        下了一夜的雪，到处都是白的。<br>
                        她长得很漂亮。<br>
                        那儿的风景美极了。<br>
                        好像/仿佛<br>
                        像……似的<br>
                        ( descriptive attribute )+( central word )……黄澄澄的阳光里，水嫩水嫩的白菜……<br>
                        ( descriptive  adverbial modifier )+(    predicate )……茫然不知所措地推着购物车……<br>
                        [ paragraph：describe scenery, portraits, …]</td>
                    </tr>
                    <tr>
                      <td><div align="center" class="STYLE2">比较<br>
                      Comparison</div></td>
                      <td>……比……+( adjective/verb )<br>
                        ……没有……+(那么)+( adjective/verb )<br>
                        ……比……+( adjective )+一些/得多/多了<br>
                        ……和/跟/与……+不同/不一样<br>
                        ……不如……<br>
                        ……比不上/赶不上……<br>
                        ……和……没什么不同/没多少差别    <br>
                        ……和……差别不大/差别很大<br>
                        ……像……一样/似的<br>
                        ……跟……类似/近似<br>
                        ……如同……一般<br>
                        和/跟/与……比/比较/相比，……<br>
                        比……还/都……<br>
                        ……高过/胜过/强过/超过……<br>
                        ……高于/重于/大于/好于……</td>
                    </tr>
                    <tr>
                      <td><div align="center" class="STYLE2">评价<br>
                      Expressing opinions</div></td>
                      <td>很+( adjective )<br>
                        ( adjective )+极了<br>
                        挺+( adjective )+的<br>
                        不错<br>
                        还可以  <br>
                        一般<br>
                        马马虎虎<br>
                        不怎么样<br>
                        不像话<br>
                        (不)值得+( verb )</td>
                    </tr>
                    <tr>
                      <td><div align="center" class="STYLE2">概括<br>
                      Summing up</div></td>
                      <td>……，就这样……<br>
                        总之/总而言之<br>
                        归根结底<br>
                        总的来说/总的来看<br>
                        综上所述<br>
                        概括起来说</td>
                    </tr>
                    <tr>
                      <td><div align="center" class="STYLE2">通知<br>
                      Announcement</div></td>
                      <td>[ oral announcement ]<br>
                        ( time )+在+( place )+( organize an event )，请准时参加<br>
                        请+( people concerned )+( time )+( do something )<br>
                        [ written announcement ]<br>
                        通知<br>
                        ( content of the announcement)<br>
                        特此通知<br>
                        ( name of the concerned organization )<br>
                        *年*月*日</td>
                    </tr>
                    <tr>
                      <td><div align="center" class="STYLE2">报告<br>
                      Report</div></td>
                      <td>( some period )+有雨/雪/风……<br>
                        来客人了。<br>
                        ( in some time )+( someone/some place )+( has happened )+了+( something    )<br>
                        ( in some time )+( someone/a media     ……)+( will have )+( a thing /a program )<br>
                        赵星下星期要结婚了。/今天晚上的电视有好节目。</td>
                    </tr>
                    <tr>
                      <td><div align="center" class="STYLE2">转告、转述<br>
                      Sending messages</div></td>
                      <td>( title )，( someone )+让你+( verb    )十一下<br>
                        ( title )，( someone )+让我转告你，……<br>
                        ( title )，( someone )+问你好<br>
                        ( someone )+说，……<br>
                        听+( someone )+说，……<br>
                        听说/据说……<br>
                        有……介绍说，……<br>
                        据……说，……<br>
                        据……的消息，……<br>
                        据+报道/调查/介绍/记载，……</td>
                    </tr>
                    <tr>
                      <td><div align="center" class="STYLE2">解释<br>
                      Explanation</div></td>
                      <td>……是……的意思<br>
                        ……表示……，例如：…·等<br>
                        ……是误会，请不要放在心上<br>
                        我来解释一下，……<br>
                        因为……的关系，……<br>
                        ……，其实……<br>
                        ……，实际上……<br>
                        ……，意思是说……<br>
                        ……，也就是说/换句话说……<br>
                        ……，说得准确点儿/更准确地说……<br>
                        所谓……，就是指/指的就是……<br>
                        为了……，才……<br>
                        没有……，只是…<br>
                        ……即……</td>
                    </tr>
                    <tr>
                      <td><div align="center" class="STYLE2">列举<br>
                      Enumeration</div></td>
                      <td>……什么的<br>
                        ……等等<br>
                        什么+……呀/啦……呀/啦，……<br>
                        (A1的)+(A1)，(A2的)+(A2)：有点儿本事的人走的走，辞职<br>
                        的辞职。<br>
                        第一，……第二，……第三，……<br>
                        ……，一是……二是……<br>
                        ……，一来……，二来……，三来……<br>
                        ……，一则……二则……三则……<br>
                        ……，有的……，有的……，有的……<br>
                        ( coordinate words )：他每天开会，筹划，指挥，真是个大忙人。<br>
                        ( coordinate sentences )：防汛指挥部就如何组织人力抢险、如何使用抗洪物资、如何疏散灾民等事宜做了周密的部署。</td>
                    </tr>
                    <tr>
                      <td><div align="center" class="STYLE2">纠正<br>
                      Correction</div></td>
                      <td>不，……<br>
                        不是……，是/而是……<br>
                        不一定吧<br>
                        你说得不对<br>
                        你错了…<br>
                        哪儿啊…<br>
                        什么呀…<br>
                        哪像你说的那样？<br>
                        话不能这么说<br>
                        特此更正</td>
                    </tr>
                    <tr>
                      <td><div align="center" class="STYLE2">询问<br>
                      Inquiry</div></td>
                      <td>[ ask about name ]<br>
                        您贵姓？。<br>
                        你叫什么名字？<br>
                        [ ask about nation ]<br>
                        你是哪国人？<br>
                        [ ask about age ]<br>
                        [ ask about a kid’s age]你几岁了？    <br>
                        [ ask about a person’s age who is nearly as old as you ]你多大了？/你二十几<br>
                        了？/三十几了？<br>
                        [ ask about the age of old people or an elder ]您多大年纪了？/您多大岁数了？<br>
                        你属什么？    <br>
                        [ ask about birthday ]<br>
                        你是几月生的？<br>
                        你的生日是几月几号？<br>
                        [ ask about hobbies ]<br>
                        你爱好什么？<br>
                        你有什么爱好？<br>
                        你喜欢+( do something )+吗？<br>
                        你对什么+感/有兴趣？<br>
                        [ ask about opinion ]<br>
                        你对……怎么看？<br>
                        你对……有什么看法？<br>
                        你对……有何高见？<br>
                        请谈谈你对……的看法。<br>
                        [ ask about education situation ]<br>
                        ( someone )+是什么学校毕业的？<br>
                        请说明你的学历。<br>
                        [ ask about CV ]<br>
                        ( someone )+以前是干什么的？<br>
                        请谈谈你的简单经历。<br>
                        [ ask about hight]<br>
                        ( someone )+有多高？<br>
                        ( someone )+有一米八零吗？<br>
                        [ ask about career ]<br>
                        ( someone )+是什么？<br>
                        ( someone )+现在做什么工作？<br>
                        ( someone )+是搞什么的？<br>
                        ( someone )+在什么单位工作？<br>
                        ( someone )+从事什么工作/职业？<br>
                        [ ask about body’s weight ]    <br>
                        ( someone )+有多重？<br>
                        ( someone )+有七十公斤吗？<br>
                        [ ask about healthy ]<br>
                        ( someone )+的身体怎么样？<br>
                        ( someone )+的心脏/胃……+怎么样？<br>
                        ( someone )+有没有病？<br>
                        ( someone )的+健康状况怎么样？<br>
                        [ ask about family ]<br>
                        ( someone )+家有几口人？<br>
                        ( someone )+家都有什么人？<br>
                        ( someone )+有没有哥哥/弟弟/姐姐/妹妹/孩子？<br>
                        [ ask about marriage ]<br>
                        ( someone )+结婚了吗？<br>
                        ( someone )+有没有+男/女朋友？<br>
                        ( someone )+有没有对象？<br>
                        ( someone )+结过婚吗？<br>
                        [ ask about achievement ]<br>
                        老师，( someone )的+成绩怎么样？<br>
                        老师，( someone )+考得好吗？<br>
                        ( someone )+考了多少分？<br>
                        ( someone )+能不能及格？<br>
                        [ ask about time ]<br>
                        现在几点？<br>
                        什么时候+( do something )？<br>
                        几点+( do something )？<br>
                        今天星期几？<br>
                        今天几号？    <br>
                        你+(做)+了+多长时间+( something )？<br>
                        [ ask about holiday ]<br>
                        …………有哪些传统节日7<br>
                        …………节是几月几号7<br>
                        …………节是什么节日？<br>
                        [ ask about weather ]<br>
                        (某段时间)+天气怎么样？<br>
                        (某段时间)+有雨吗？<br>
                        [ ask about climate ]<br>
                        那儿的气候怎么样？<br>
                        ( some place )+有没有四季？<br>
                        ( some place )+的春季/夏季/秋季/冬季+从几月到几月？<br>
                        ( some place    )+的春天/夏天/秋天/冬天+怎么样？<br>
                        夏天热吗？<br>
                        冬天常下雪吗？<br>
                        一年之中最好的季节是什么季节？<br>
                        [ ask about temperature ]    <br>
                        (某天)+最高/低气温是多少度？<br>
                        现在室内温度是多少？<br>
                        [ ask about habits ]<br>
                        ( some place )人+过……节有什么习惯？<br>
                        ( someone )+吸烟吗？<br>
                        ( someone )+习惯+( do something )+吗？<br>
                        [ ask about custom ]<br>
                        ( some place )+的风俗+怎么样？<br>
                        那个地方有什么特殊的风俗？<br>
                        [ ask about price ]<br>
                        多少钱？<br>
                        ( something )+多少钱一十个/斤/盒……？<br>
                        一共多少钱？<br>
                        [ ask about quality ]<br>
                        ( something )+的质量怎么样？<br>
                        这种+( thing )+好吗？<br>
                        [ ask about area ]<br>
                        ……的面积是多大？<br>
                        [ ask about size ]<br>
                        …………的体积多大？<br>
                        [ ask about height ]<br>
                        ……(有)多高？<br>
                        ……的高度是多少？<br>
                        [ ask about length ]<br>
                        ……有多长7<br>
                        …………长多少公里？<br>
                        [ ask about width ]<br>
                        …………多宽？<br>
                        [ ask about depth ]<br>
                        …………多深7<br>
                        …………深多少米？<br>
                        [ ask about weight ]<br>
                        ……有多重7<br>
                        …………多少吨/公斤？<br>
                        [ ask about model ]<br>
                        用什么型号的…………？<br>
                        …………是什么型号的？<br>
                        [ ask about color ]<br>
                        ……是什么颜色的？<br>
                        你的……是黄的还是蓝的？<br>
                        [ ask about shape ]<br>
                        …………是什么样子的？<br>
                        ……是什么形状的？<br>
                        [ ask about direction ]<br>
                        这是什么方向？<br>
                        这是东边还是西边？<br>
                        请问，哪儿是南？<br>
                        [ ask the way ]<br>
                        请问，……在哪儿？<br>
                        请问，哪儿有…………？<br>
                        去……怎么走？；<br>
                        去……坐什么车？<br>
                        [ ask about distance ]<br>
                        那里离这儿有多远？<br>
                        ……离……有多少公里？<br>
                        [ ask about name of something ]<br>
                        这是什么？<br>
                        这个东西叫什么？<br>
                        这种东西汉语叫什么？<br>
                        [ ask about type]<br>
                        ……有多少种……？<br>
                        [ ask about number ]<br>
                        ( someone )+穿多大号的……？<br>
                        ( someone )的+电话是多少号？<br>
                        ( someone )的+房间号是多少？<br>
                        请问，你的护照号？<br>
                        [ ask about brand ]<br>
                        …………是什么牌JL的？<br>
                        ( someone )用的是什么牌子的……？<br>
                        [ ask about ingredients ]<br>
                        ……有多少个国家的学生？<br>
                        这个……是由哪些人组成的？<br>
                        [ ask about destination ]<br>
                        ( someone )+去哪儿了？<br>
                        ( someone )+到什么地方去了？<br>
                        ( someone )+打算去哪儿旅行？<br>
                        ……是去哪儿的？<br>
                        ……飞/开+往+什么地方/哪儿的？<br>
                        [ ask about function ]<br>
                        这有什么用？<br>
                        这种药治什么病？<br>
                        [ ask about method ]<br>
                        ……有什么好方法？<br>
                        怎么样才能作好这件事？<br>
                        怎么+( do something )？<br>
                        用什么方法？<br>
                        [ ask about causes ]<br>
                        为什么……？<br>
                        怎么不·．．．．·呢？<br>
                        [ ask about things happened ]<br>
                        怎么了？</td>
                    </tr>
                    <tr>
                      <td><div align="center" class="STYLE2">辨认、区分<br>
                      Identification</div></td>
                      <td>这是……，那是……<br>
                        ……不像……<br>
                        ……好像是……<br>
                        看得出，……就是…………<br>
                        看/听+出/出来+了，……</td>
                    </tr>
                    <tr>
                      <td><div align="center" class="STYLE2">排除<br>
                      Exclusion</div></td>
                      <td>除了……(以外)，都……<br>
                        ……暂且不谈，……<br>
                        ……先不说，……<br>
                        除非</td>
                    </tr>
                    <tr>
                      <td ><div align="center" class="STYLE2">判断<br>
                      Judgment</div></td>
                      <td>断定<br>
                        根据……判定/判断，……<br>
                        从……判断，……    <br>
                        根据……，一定会……<br>
                        肯定/一定……，不然/否则……</td>
                    </tr>
                    <tr>
                      <td><div align="center" class="STYLE2">推论<br>
                      Deduction</div></td>
                      <td>看样子……<br>
                        ……，这样一来，……<br>
                        按说……/按……说，……<br>
                        照……的说法…………<br>
                        从……上说，……<br>
                        ……，可见/由此可见……<br>
                        ……，如此看来/如此说来，……</td>
                    </tr>
                  </table>        
              </div>
          </div>
        </div>
      </div>
    </div>

    <!-- BEGIN FOOTER -->
            <div class="row" style="background: #313030; color: #b0b0b0">
          <!-- BEGIN BOTTOM ABOUT BLOCK -->
          <div class="col-md-6 col-sm-4" style="background: #313030">
            <h3 style="margin-top: 10px">About us</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam sit nonummy nibh euismod tincidunt ut laoreet dolore magna aliquarm erat sit volutpat.</p>
          </div>
          <!-- END BOTTOM ABOUT BLOCK -->

          <!-- BEGIN BOTTOM CONTACTS -->
          <div class="col-md-6" style="background: #313030">		  
            <h3 style="margin-top: 10px">Our Contacts</h3>
            <address class="margin-bottom-10">
              Adress: 11, 111111 Street, 1111111, VIC, Australia<br>
              Phone: 300 323 3456&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fax: 300 323 1456<br>
              Email: <a href="mailto:info@metronic.com">info@metronic.com</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Skype: <a href="skype:metronic">metronic</a>
            </address>
          </div>
          <!-- END BOTTOM CONTACTS -->        
        </div>

        <div class="row">
          <!-- BEGIN COPYRIGHT -->
          <div class="col-md-6 col-sm-6 padding-top-10" style="background: #272626; color: #b0b0b0;">
            2015 © MHN Family Firm. ALL Rights Reserved. <a href="javascript:;">Privacy Policy</a> | <a href="javascript:;">Terms of Service</a>
          </div>
          <!-- END COPYRIGHT -->
          <!-- BEGIN PAYMENTS -->
          <div class="col-md-6 col-sm-6" style="background: #272626">
            <ul class="social-footer list-unstyled list-inline pull-right">
              <li><a href="javascript:;"><i class="fa fa-facebook"></i></a></li>
              <li><a href="javascript:;"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="javascript:;"><i class="fa fa-dribbble"></i></a></li>
              <li><a href="javascript:;"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="javascript:;"><i class="fa fa-twitter"></i></a></li>
              <li><a href="javascript:;"><i class="fa fa-skype"></i></a></li>
              <li><a href="javascript:;"><i class="fa fa-github"></i></a></li>
              <li><a href="javascript:;"><i class="fa fa-youtube"></i></a></li>
              <li><a href="javascript:;"><i class="fa fa-dropbox"></i></a></li>
            </ul>  
          </div>
          <!-- END PAYMENTS -->
        </div>
    <!-- END FOOTER -->

    <!-- Load javascripts at bottom, this will reduce page load time -->
    <!-- BEGIN CORE PLUGINS (REQUIRED FOR ALL PAGES) -->
    <!--[if lt IE 9]>
    <script src="/assets/global/plugins/respond.min.js"></script>
    <![endif]--> 
    <script src="/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>      
    <script src="/assets/frontend/layout/scripts/back-to-top.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->

    <!-- BEGIN PAGE LEVEL JAVASCRIPTS (REQUIRED ONLY FOR CURRENT PAGE) -->
    <script src="/assets/global/plugins/fancybox/source/jquery.fancybox.pack.js" type="text/javascript"></script><!-- pop up -->

    <script src="/assets/frontend/layout/scripts/layout.js" type="text/javascript"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            Layout.init();    
            Layout.initTwitter();
        });
    </script>
    <!-- END PAGE LEVEL JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>