<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<!-- Head BEGIN -->
<head>
  <meta charset="utf-8">
  <title>Common Expressions - greetings</title>

  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <meta content="Metronic Shop UI description" name="description">
  <meta content="Metronic Shop UI keywords" name="keywords">
  <meta content="keenthemes" name="author">

  <meta property="og:site_name" content="-CUSTOMER VALUE-">
  <meta property="og:title" content="-CUSTOMER VALUE-">
  <meta property="og:description" content="-CUSTOMER VALUE-">
  <meta property="og:type" content="website">
  <meta property="og:image" content="-CUSTOMER VALUE-"><!-- link to image for socio -->
  <meta property="og:url" content="-CUSTOMER VALUE-">

  <link rel="shortcut icon" href="favicon.ico">

  <!-- Fonts START -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|PT+Sans+Narrow|Source+Sans+Pro:200,300,400,600,700,900&amp;subset=all" rel="stylesheet" type="text/css">
  <!-- Fonts END -->

  <!-- Global styles START -->          
  <link href="/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Global styles END --> 
   
  <!-- Page level plugin styles START -->
  <link href="/assets/global/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet">
  <!-- Page level plugin styles END -->

  <!-- Theme styles START -->
  <link href="/assets/global/css/components.css" rel="stylesheet">
  <link href="/assets/frontend/layout/css/style.css" rel="stylesheet">
  <link href="/assets/frontend/layout/css/style-responsive.css" rel="stylesheet">
  <link href="/assets/frontend/layout/css/themes/red.css" rel="stylesheet" id="style-color">
  <link href="/assets/frontend/layout/css/custom.css" rel="stylesheet">
  <!-- Theme styles END --></head>
<!-- Head END -->

<!-- Body BEGIN -->
<body class="corporate">
    <!-- BEGIN STYLE CUSTOMIZER -->
    <div class="color-panel hidden-sm">
      <div class="color-mode-icons icon-color"></div>
      <div class="color-mode-icons icon-color-close"></div>
      <div class="color-mode">
        <p>THEME COLOR</p>
        <ul class="inline">
          <li class="color-red current color-default" data-style="red"></li>
          <li class="color-blue" data-style="blue"></li>
          <li class="color-green" data-style="green"></li>
          <li class="color-orange" data-style="orange"></li>
          <li class="color-gray" data-style="gray"></li>
          <li class="color-turquoise" data-style="turquoise"></li>
        </ul>
      </div>
    </div>
    <!-- END BEGIN STYLE CUSTOMIZER --> 

    <!-- BEGIN TOP BAR -->
    <div class="pre-header">
        <div class="container">
            <div class="row">
                <!-- BEGIN TOP BAR MENU -->
				<!-- BEGIN TOP BAR LEFT PART -->
                <div class="col-md-6 col-sm-6 additional-shop-info"></div>
                <!-- END TOP BAR LEFT PART -->
				<div>
                    <ul class="list-unstyled list-inline pull-right">
                        <li><a href="page-login.html">Log In</a></li>
                        <li><a href="page-registration.html">Registration</a></li>
                    </ul>
                </div>
                <!-- END TOP BAR MENU -->
            </div>
        </div>        
    </div>
    <!-- END TOP BAR -->
    <!-- BEGIN HEADER -->
    <div class="header">
      <div class="container">
        <a class="site-logo" href="index.html"><img src="/assets/frontend/layout/img/logos/logo-corp-red.png" alt="Reading Chinese"></a>
        <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>

        <!-- BEGIN NAVIGATION -->
        <div class="header-navigation pull-right font-transform-inherit">
          <ul>
            <li class="dropdown">
            <li class="dropdown dropdown-megamenu">
              <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
			  Characters
			  </a>
              <ul class="dropdown-menu">
                <li><a href="hsk-characters.html">HSK Characters</a></li>
				<li><a href="most-used-characters.html">Most-used Characters</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
                Vocabulary 
              </a>                
              <ul class="dropdown-menu">
                <li><a href="hsk-vocabulary.html#tab-1" class="active">Level 1</a></li>
                <li><a href="hsk-vocabulary.html#tab-2" class="active">Level 2</a></li>
                <li><a href="hsk-vocabulary.html#tab-3" class="active">Level 3</a></li>
                <li><a href="hsk-vocabulary.html#tab-4" class="active">Level 4</a></li>
                <li><a href="hsk-vocabulary.html#tab-5" class="active">Level 5</a></li>
                <li><a href="hsk-vocabulary.html#tab-6" class="active">Level 6</a></li>       
              </ul>
            </li>
			<li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
                Grammar 
              </a>                
              <ul class="dropdown-menu">
                <li><a href="hsk-grammar.html">Level 1</a></li>
                <li><a href="hsk-grammar.html">Level 2</a></li>
                <li><a href="hsk-grammar.html">Level 3</a></li>  
              </ul>
            </li>
			<li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="expressions.html">
                Expressions 
              </a>                
              <ul class="dropdown-menu">
                <li><a href="express-greetings.html">Greetings</a></li>
                <li><a href="express-actions.html">Actions</a></li>
                <li><a href="express-opinions.html">Opinions</a></li>
                <li><a href="express-feelings.html">Feelings</a></li>
                <li><a href="express-conversations.html">Conversations</a></li>  
              </ul>
            </li>
            <!-- BEGIN TOP SEARCH -->
            <li class="menu-search">
              <span class="sep"></span>
              <i class="fa fa-search search-btn"></i>
              <div class="search-box">
                <form action="#">
                  <div class="input-group">
                    <input type="text" placeholder="Search" class="form-control">
                    <span class="input-group-btn">
                      <button class="btn btn-primary" type="submit">Search</button>
                    </span>
                  </div>
                </form>
              </div> 
            </li>
            <!-- END TOP SEARCH -->
          </ul>
        </div>
        <!-- END NAVIGATION -->
      </div>
    </div>
    <!-- Header END -->

    <div class="main">
      <div class="container">
        <ul class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="expressions.html">Common Expressions</a></li>
            <li class="active">Greetings</li>
        </ul>

        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
          <!-- BEGIN CONTENT -->
          <div class="col-md-12 col-sm-12">
            <h1>Common Expressions - <font color="#3194CE">Greetings</font></h1>
            <div class="row">
              <table cellspacing="2" border="1" bordercolor="#66CCFF">
                <tr>
                  <td width="128" class="font-blue"><div align="center"><strong>打招呼<br>
                    Say hello</strong></div></td>
                  <td width="774" bordercolor="#66CCFF"><p>你好!<br>
                    ( title )+好!<br>
                    您早!<br>
                    早上好!<br>
                    (The following expressions are mostly used among Chinese people)<br>
                    [ before or after dinner ]吃了吗?<br>
                    [ guess one’s plan and make a confirm ]上课去呀?/打球去?<br>
                    [ see one coming back from outside ]去哪儿了?/回来啦!</p></td>
                </tr>
                <tr >
                  <td class="font-blue"><div align="center"><strong>问候</strong><br>
                          <strong>Greetings</strong></div></td>
                  <td>( title )，+您好吗?  ——好、好<br>
                    ( someone )+好吗?  ——很好<br>
                    你近来身体怎么样?  ——还好/马马虎虎吧<br>
                    工作忙吗?    ——忙得很/还可以<br>
                    过得怎么样?    ——马马虎虎/还可以/还好<br>
                    对……习惯了吗?   ——已经习惯了/还不太习惯<br>
                    辛苦了        ——没什么<br>
                    请代我问候+( someone )<br>
                    问+( someone )+好</td>
                </tr>
                <tr >
                  <td class="font-blue"><div align="center"><strong>寒暄</strong><br>
                          <strong>Chit-chat</strong></div></td>
                  <td>[ to a guest who doesn’t visit    very often ]：您可是稀客。<br>
                    [ to an acquaintance you haven’t seen for a long time    ]：什么风把你给吹来了？少见哪!<br>
                    [ on formal occasions ]有机会+( do something )+感到很荣幸/深感荣幸<br>
                    ( greet )+( talk about the scenery)：你好!这儿风景……<br>
                    ( title )+( talk about one’s appearance or figure )：您穿这身衣服很精神。<br>
                    ( greet )+( talk about family )：最近你很忙吧？怎么样，夫人好点了吗？<br>
                    ( greet )+( talk about traffic )：一路上辛苦了，……<br>
                    (greet/say hello )+( talk about the weather)：来了？外边很冷吧？<br>
                    ( greet )+( talk about traffic )：一路上辛苦了，……<br>
                    (greet/say hello )+( talk about the weather)：来了？外边很冷吧？</td>
                </tr>
                <tr>
                  <td class="font-blue"><div align="center"><strong>介绍</strong><br>
                          <strong>Introduction</strong></div></td>
                  <td>[ self-introduction ]<br>
                    我叫+( one’s own name)，是+( one’s own identity )    <br>
                    请允许我自我介绍一下，……<br>
                    [ introduce other person ]<br>
                    这是+( one being introduced )，这是+( another one being introduced )<br>
                    我来介绍一下，这位是+( name, title and identity of the introduced person )<br>
                    [ recommendation letter]<br>
                    ( organization )+办公室：<br>
                    我荣幸地推荐X国留学生X X X报考贵校……。该生……，由于……，希望继续深造。贵校如能接受其报考，我将十分感谢。<br>
                    ( organization, identity and name of the recommender )<br>
                    X X年X月X日</td>
                </tr>
                <tr>
                  <td class="font-blue"><div align="center"><strong>感谢</strong><br>
                          <strong>Thanks</strong></div></td>
                  <td>谢谢！/谢谢你！  ——不谢！/不客气！<br>
                    多谢！     ——不谢!/没什么！/不用谢！<br>
                    非常感谢！    ——不必客气！<br>
                    实在太感谢了！   ——别客气！<br>
                    真不知怎么感谢您才好！ ——哪里！你太客气了！<br>
                    在这里请允许我代表……向……表示衷心感谢！</td>
                </tr>
                <tr>
                  <td class="font-blue"><div align="center"><strong>告别<br>
                    Good-bye</strong></div></td>
                  <td>再见!<br>
                    明天见!<br>
                    我要走了，特来向你告别。<br>
                    [ host ]：不远送了。<br>
                    [ host ]：您慢走/您走好。<br>
                    [ guest ]：别送了/您留步。</td>
                </tr>
                <tr>                
                  <td class="font-blue"><div align="center"><strong>送行</strong><br>
                  <strong>Farewell</strong></div></td>
                  <td>再见了，祝你一路顺风!<br>
                      祝你们一路平安!<br>
                      到了以后快来封信!<br>
                      ( a future time )+( address )+见！</td>
                </tr>
                <tr>
                  <td class="font-blue"><div align="center"><strong>祝愿</strong><strong><br>
                    Good wishes</strong><br>
                  </div></td>
                  <td>春节/新年……+好！<br>
                    新年/圣诞……+快乐！<br>
                    祝你/你们/您+全家幸福！/ 万事如意！/ 新婚幸福！/ 早日恢复健康！/ 健康长寿！/ 成功！/ 一切顺利！/ 生日快乐！……<br>
                    为+( someone or something )+干杯！</td>
                </tr>
                <tr>
                  <td class="font-blue"><div align="center"><strong>祝贺</strong><br>
                <strong>Congratulations</strong></div></td>
                  <td>祝贺你！    <br>
                    祝贺你+( verbal structure )！<br>
                    代表+……对/向……表示热烈的祝贺！</td>
                </tr>
                <tr>
                  <td class="font-blue"><div align="center"><strong>欢迎</strong><br>
                <strong>Welcome</strong></div></td>
                  <td>欢迎！欢迎！<br>
                    欢迎你们的到来！<br>
                    我们对……表示热烈的欢迎！</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- BEGIN FOOTER -->
            <div class="row" style="background: #313030; color: #b0b0b0">
          <!-- BEGIN BOTTOM ABOUT BLOCK -->
          <div class="col-md-6 col-sm-4" style="background: #313030">
            <h3 style="margin-top: 10px">About us</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam sit nonummy nibh euismod tincidunt ut laoreet dolore magna aliquarm erat sit volutpat.</p>
          </div>
          <!-- END BOTTOM ABOUT BLOCK -->

          <!-- BEGIN BOTTOM CONTACTS -->
          <div class="col-md-6" style="background: #313030">		  
            <h3 style="margin-top: 10px">Our Contacts</h3>
            <address class="margin-bottom-10">
              Adress: 11, 111111 Street, 1111111, VIC, Australia<br>
              Phone: 300 323 3456&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fax: 300 323 1456<br>
              Email: <a href="mailto:info@metronic.com">info@metronic.com</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Skype: <a href="skype:metronic">metronic</a>
            </address>
          </div>
          <!-- END BOTTOM CONTACTS -->        
        </div>

        <div class="row">
          <!-- BEGIN COPYRIGHT -->
          <div class="col-md-6 col-sm-6 padding-top-10" style="background: #272626; color: #b0b0b0;">
            2015 © MHN Family Firm. ALL Rights Reserved. <a href="javascript:;">Privacy Policy</a> | <a href="javascript:;">Terms of Service</a>
          </div>
          <!-- END COPYRIGHT -->
          <!-- BEGIN PAYMENTS -->
          <div class="col-md-6 col-sm-6" style="background: #272626">
            <ul class="social-footer list-unstyled list-inline pull-right">
              <li><a href="javascript:;"><i class="fa fa-facebook"></i></a></li>
              <li><a href="javascript:;"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="javascript:;"><i class="fa fa-dribbble"></i></a></li>
              <li><a href="javascript:;"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="javascript:;"><i class="fa fa-twitter"></i></a></li>
              <li><a href="javascript:;"><i class="fa fa-skype"></i></a></li>
              <li><a href="javascript:;"><i class="fa fa-github"></i></a></li>
              <li><a href="javascript:;"><i class="fa fa-youtube"></i></a></li>
              <li><a href="javascript:;"><i class="fa fa-dropbox"></i></a></li>
            </ul>  
          </div>
          <!-- END PAYMENTS -->
        </div>
    <!-- END FOOTER -->

    <!-- Load javascripts at bottom, this will reduce page load time -->
    <!-- BEGIN CORE PLUGINS (REQUIRED FOR ALL PAGES) -->
    <!--[if lt IE 9]>
    <script src="/assets/global/plugins/respond.min.js"></script>
    <![endif]--> 
    <script src="/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>      
    <script src="/assets/frontend/layout/scripts/back-to-top.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->

    <!-- BEGIN PAGE LEVEL JAVASCRIPTS (REQUIRED ONLY FOR CURRENT PAGE) -->
    <script src="/assets/global/plugins/fancybox/source/jquery.fancybox.pack.js" type="text/javascript"></script><!-- pop up -->

    <script src="/assets/frontend/layout/scripts/layout.js" type="text/javascript"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            Layout.init();    
            Layout.initTwitter();
        });
    </script>
    <!-- END PAGE LEVEL JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>