<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<!-- Head BEGIN -->
<head>
  <meta charset="utf-8">
  <title>Common Expressions - Feelings</title>

  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <meta content="Metronic Shop UI description" name="description">
  <meta content="Metronic Shop UI keywords" name="keywords">
  <meta content="keenthemes" name="author">

  <meta property="og:site_name" content="-CUSTOMER VALUE-">
  <meta property="og:title" content="-CUSTOMER VALUE-">
  <meta property="og:description" content="-CUSTOMER VALUE-">
  <meta property="og:type" content="website">
  <meta property="og:image" content="-CUSTOMER VALUE-"><!-- link to image for socio -->
  <meta property="og:url" content="-CUSTOMER VALUE-">

  <link rel="shortcut icon" href="favicon.ico">

  <!-- Fonts START -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|PT+Sans+Narrow|Source+Sans+Pro:200,300,400,600,700,900&amp;subset=all" rel="stylesheet" type="text/css">
  <!-- Fonts END -->

  <!-- Global styles START -->          
  <link href="/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Global styles END --> 
   
  <!-- Page level plugin styles START -->
  <link href="/assets/global/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet">
  <!-- Page level plugin styles END -->

  <!-- Theme styles START -->
  <link href="/assets/global/css/components.css" rel="stylesheet">
  <link href="/assets/frontend/layout/css/style.css" rel="stylesheet">
  <link href="/assets/frontend/layout/css/style-responsive.css" rel="stylesheet">
  <link href="/assets/frontend/layout/css/themes/red.css" rel="stylesheet" id="style-color">
  <link href="/assets/frontend/layout/css/custom.css" rel="stylesheet">
  <!-- Theme styles END -->
  <style type="text/css">
<!--
.STYLE1 {
	color: #28917B;
	font-weight: bold;
}
-->
  </style>
</head>
<!-- Head END -->

<!-- Body BEGIN -->
<body class="corporate">
    <!-- BEGIN STYLE CUSTOMIZER -->
    <div class="color-panel hidden-sm">
      <div class="color-mode-icons icon-color"></div>
      <div class="color-mode-icons icon-color-close"></div>
      <div class="color-mode">
        <p>THEME COLOR</p>
        <ul class="inline">
          <li class="color-red current color-default" data-style="red"></li>
          <li class="color-blue" data-style="blue"></li>
          <li class="color-green" data-style="green"></li>
          <li class="color-orange" data-style="orange"></li>
          <li class="color-gray" data-style="gray"></li>
          <li class="color-turquoise" data-style="turquoise"></li>
        </ul>
      </div>
    </div>
    <!-- END BEGIN STYLE CUSTOMIZER --> 

    <!-- BEGIN TOP BAR -->
    <div class="pre-header">
        <div class="container">
            <div class="row">
                <!-- BEGIN TOP BAR MENU -->
				<!-- BEGIN TOP BAR LEFT PART -->
                <div class="col-md-6 col-sm-6 additional-shop-info"></div>
                <!-- END TOP BAR LEFT PART -->
				<div>
                    <ul class="list-unstyled list-inline pull-right">
                        <li><a href="page-login.html">Log In</a></li>
                        <li><a href="page-registration.html">Registration</a></li>
                    </ul>
                </div>
                <!-- END TOP BAR MENU -->
            </div>
        </div>        
    </div>
    <!-- END TOP BAR -->
    <!-- BEGIN HEADER -->
    <div class="header">
      <div class="container">
        {{include "navbar.html"}}
      </div>
    </div>
    <!-- Header END -->

    <div class="main">
      <div class="container">
        <ul class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="expressions.html">Common Expressions</a></li>
            <li class="active">Feelings</li>
        </ul>

        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
          <!-- BEGIN CONTENT -->
          <div class="col-md-12 col-sm-12">
            <h1>Common Expressions - <font color="#28917B">Feelings</font></h1>
              <div class="row">
                <table cellspacing="2" border="1" bordercolor="#CFE9DE">
                  <tr>
                    <td width="216"><div align="center"><span class="STYLE1">喜欢、爱/不喜欢<br>
                    Like, love / Dislike</span></div></td>
                    <td width="683">喜欢<br>
                      对……很感兴趣<br>
                      热爱……<br>
                      ( someone )+爱+( someone or something )<br>
                      爱/喜欢+( do something )  <br>
                      不喜欢<br>
                      对……不感兴趣<br>
                    不太喜欢……</td>
                  </tr>
                  <tr>
                    <td><div align="center"><span class="STYLE1">高兴/不高兴<br>
                    Happy/not happy</span></div></td>
                    <td>很高兴/开心/愉快<br>
                      高兴极了<br>
                      太高兴了<br>
                      高兴得不知说什么好<br>
                      不高兴<br>
                      不太高兴<br>
                      一点儿也不高兴<br>
                      高兴不起来</td>
                  </tr>
                  <tr>
                    <td><div align="center"><span class="STYLE1">愿意/不愿意<br>
                    Would/would not like to</span></div></td>
                    <td>愿意+( do something )<br>
                      当然可以<br>
                      我早就有这个愿望<br>
                      不愿意<br>
                      不想干<br>
                      不愿意+( do something )</td>
                  </tr>
                  <tr>
                    <td><div align="center"><span class="STYLE1">满意/不满意<br>
                    Satisfactory/unsatisfactory</span></div></td>
                    <td>非常满意<br>
                      非常好<br>
                      很好<br>
                      ( someone )+不满意<br>
                      还差点儿<br>
                      一般吧<br>
                      怎么能这样呢？<br>
                      太+( adjective )+了      [ negative    meaning]<br>
                      ( someone /某物)+有点儿+( adjective )    [    negative meaning]<br>
                      ……，不过+( adjective )+了点儿    [ negative    meaning]</td>
                  </tr>
                  <tr>
                    <td><div align="center"><span class="STYLE1">称赞<br>
                    Praise</span></div></td>
                    <td>真好！<br>
                      真棒！<br>
                      ( someone )+( verb )+得+真+( positive adjective )<br>
                      太好了！<br>
                      好极了！<br>
                      真了不起！<br>
                      真让人佩服！  <br>
                      嗬/嘿/哇！……<br>
                      比不上/没人比得上……<br>
                      真有两下子<br>
                      名列前茅/名不虚传<br>
                      胜似/赛过……<br>
                      真不愧是……啊<br>
                      竟有+这样/这么+(S nominal structure modified by a positive adjective )<br>
                      看上去+跟/像……似的<br>
                      又……又……，真+( positive adjective/verbal structure )</td>
                  </tr>
                  <tr>
                    <td><div align="center"><span class="STYLE1">后悔<br>
                    Regret</span></div></td>
                    <td>( someone )+很后悔<br>
                      ( someone )+后悔+( do something )<br>
                      我不该那么做<br>
                      后悔得要命<br>
                      现在说什么都晚了<br>
                      真后悔/懊悔+( do something )<br>
                      对……感到后悔<br>
                      唉/咳！    <br>
                      真可惜/真遗憾<br>
                      感到不安<br>
                      悔不该/真不该+( do something )<br>
                      当时……就好了<br>
                      早知……，就……了<br>
                      后悔莫及/后悔晚矣</td>
                  </tr>
                  <tr>
                    <td><div align="center"><span class="STYLE1">希望<br>
                    Hope</span></div></td>
                    <td>( someone )+希望……<br>
                      ( someone )+盼/盼望/向往……<br>
                      ( someone )+指望……<br>
                      ( someone )+期望/期待/渴望……<br>
                      ( someone )+恨不得/巴不得……<br>
                      ( someone )+望眼欲穿/梦寐以求/求之不得<br>
                      ( someone )+真想再……<br>
                      能……就好了/该多好啊</td>
                  </tr>
                  <tr>
                    <td><div align="center"><span class="STYLE1">失望<br>
                    Disappointed</span></div></td>
                    <td>( someone )+很失望<br>
                      对……很失望<br>
                      没希望了<br>
                      ……让+( someone )+失望<br>
                      泄气/灰心<br>
                      心凉了<br>
                      希望成了泡影<br>
                      希望/前途+渺茫<br>
                      ……令人+失望/遗憾/寒心<br>
                      ( interjection )，+……也没用了<br>
                      心灰意冷/心若死灰</td>
                  </tr>
                  <tr>
                    <td><div align="center"><span class="STYLE1">担心<br>
                    Worried about</span></div></td>
                    <td>( someone )+很担心<br>
                      对……感到担心<br>
                      怎么办呢？<br>
                      我怕+( something will happen )<br>
                      为……担忧<br>
                      ( someone )+不放心<br>
                      提心吊胆/忐忑不安<br>
                      心里打鼓/心里七上八下/心跳到嗓子眼儿了/捏一把汗<br>
                      千万别……<br>
                      要是…………怎么办？<br>
                      ( something )+令人/叫人/让人+担忧/担心</td>
                  </tr>
                  <tr>
                    <td><div align="center"><span class="STYLE1">害怕<br>
                    Afraid of</span></div></td>
                    <td>( someone )+害怕<br>
                      我怕+( someone 、某物、 something )<br>
                      不敢+( do something )<br>
                      心直跳<br>
                      吓+( complement )：吓死了/吓得……<br>
                      发懵/憷头<br>
                      打冷战/出冷汗<br>
                      不寒而栗/心惊肉跳/毛骨悚然/心有余悸/触目惊心<br>
                      一朝被蛇咬，十年怕井绳</td>
                  </tr>
                  <tr>
                    <td><div align="center"><span class="STYLE1">讨厌<br>
                    Hate</span></div></td>
                    <td>讨厌！<br>
                      真讨厌！<br>
                      讨厌死了/极了<br>
                      太讨厌了<br>
                      真烦人！<br>
                      ( someone or something )+让人+厌烦/心烦<br>
                      头疼<br>
                      有完没完？</td>
                  </tr>
                  <tr>
                    <td><div align="center"><span class="STYLE1">抱怨<br>
                    Complaints</span></div></td>
                    <td>你真是的，……<br>
                      都怪你！<br>
                      都是你！<br>
                      你怎么能这样？<br>
                      要不是你，……也不会这样<br>
                      都是你害了+( someone )<br>
                      好心当做驴肝肺/好心不得好报<br>
                      ( someone )+就爱/就知道……<br>
                      真倒霉！+( something to complain )<br>
                      你看(看)，+( something to complain )<br>
                      要不是……，也不会……<br>
                      不是……就是……，+( rhetorical question/negative sentence )</td>
                  </tr>
                  <tr>
                    <td><div align="center"><span class="STYLE1">庆幸<br>
                    Lucky</span></div></td>
                    <td>多亏/幸亏/幸好/亏得……，不然/要不/否则……<br>
                      差点儿<br>
                      运气真不错<br>
                      谢天谢地<br>
                      哈哈/嘿！……<br>
                      幸运/凑巧<br>
                      太巧了/巧极了<br>
                      想不到/没想到+(have some kind of luck)<br>
                      要不是……，又/还……</td>
                  </tr>
                  <tr>
                    <td><div align="center"><span class="STYLE1">意外<br>
                    Accident</span></div></td>
                    <td>什么？<br>
                      真的吗？<br>
                      怎么回事？<br>
                      你是怎么了？<br>
                      真没想到！<br>
                      太出人意料了！<br>
                      真叫人难以相信！<br>
                      从来没听说过这样的事<br>
                      这事发生得太突然了<br>
                      不敢相信自己的+眼睛/耳朵</td>
                  </tr>
                  <tr>
                    <td><div align="center"><span class="STYLE1">吃惊<br>
                    Surprise</span></div></td>
                    <td>哎呀/嚯/嗬/啊/咦！……<br>
                      天啊/妈呀/好家伙！<br>
                      竟/竟然<br>
                      出人意料/祸从天降</td>
                  </tr>
                  <tr>
                    <td><div align="center"><span class="STYLE1">奇怪<br>
                    Strange</span></div></td>
                    <td>哎/咦？+( question )？<br>
                      奇怪/真奇怪/怪事<br>
                      也怪/说(来)也怪，……<br>
                      莫名其妙/不可思议<br>
                      怎么/怎么会/怎么就……？<br>
                      怎么也不明白，……？<br>
                      不知+怎么回事/怎么的，……</td>
                  </tr>
                  <tr>
                    <td><div align="center"><span class="STYLE1">疑惑<br>
                    Wonder</span></div></td>
                    <td>为什么/干嘛…………？<br>
                      糊涂/纳闷<br>
                      怎么总是……呢？<br>
                      摸不着头脑/像坠入五里云雾</td>
                  </tr>
                  <tr>
                    <td><div align="center"><span class="STYLE1">顿悟<br>
                    Epiphany</span></div></td>
                    <td>我懂了<br>
                      明白了<br>
                      我说呢，……/我说怎么……<br>
                      原来是这样/原来如此<br>
                      怪不得/难怪……，<br>
                      哦/嗨，……<br>
                      是+( nominal structure )+啊<br>
                      ( verb )+了+半天，原来……</td>
                  </tr>
                  <tr>
                    <td><div align="center"><span class="STYLE1">释然<br>
                    Relieved</span></div></td>
                    <td>总算/终于<br>
                      这下可好了/现在好了，……<br>
                      松了一口气<br>
                      如释重负<br>
                      一块石头落了地</td>
                  </tr>
                  <tr>
                    <td><div align="center"><span class="STYLE1">无奈<br>
                    Helpless</span></div></td>
                    <td>真没办法<br>
                      有什么办法呢？<br>
                      只好<br>
                      随他去吧<br>
                      爱怎么着就怎么着吧<br>
                      无可奈何<br>
                      拿……没办法<br>
                      现在说什么也晚了<br>
                      不得已<br>
                      何尝不想……呢？<br>
                      再……也……<br>
                      不能不……啊<br>
                      有一线希望，也不会……<br>
                      A就A吧，……<br>
                      不A不行啊<br>
                      A也得A，不A也得A<br>
                      81．着急<br>
                      真着急！<br>
                      真叫人着急！<br>
                      真急死人了！<br>
                      ……，怎么办呢？</td>
                  </tr>
                  <tr>
                    <td><div align="center"><span class="STYLE1">着急<br>
                    Rush</span></div></td>
                    <td>真着急！<br>
                      真叫人着急！<br>
                      真急死人了！<br>
                      ……，怎么办呢？</td>
                  </tr>
                  <tr>
                    <td><div align="center"><span class="STYLE1">伤心<br>
                    Sad</span></div></td>
                    <td>天哪！<br>
                      妈呀！<br>
                      太伤心了/伤透了心<br>
                      太痛苦了<br>
                      真受不了(liǎo)了<br>
                      简直不想活了<br>
                      心酸/心里不是滋味<br>
                      寒心/心凉了/心碎了<br>
                      心如刀割/心如刀绞<br>
                      心痛欲裂/痛不欲生</td>
                  </tr>
                  <tr>
                    <td><div align="center"><span class="STYLE1">道歉<br>
                    Apology</span></div></td>
                    <td> 对不起！<br>
                      请原谅！<br>
                      真/实在/十分+抱歉<br>
                      真不好意思！<br>
                      真过意不去！<br>
                      向+( someone )+表示深深的歉意<br>
                      向+( someone )+道歉<br>
                      真是的<br>
                      请多包涵  <br>
                      深表歉意    [ formally ] <br>
                      向+( someone )+致谦/致以深深的歉意    [    formally ]</td>
                  </tr>
                  <tr>
                    <td><div align="center"><span class="STYLE1">安慰<br>
                    Comfort</span></div></td>
                    <td>别担心<br>
                      放心/放宽心<br>
                      好了，别伤心了<br>
                      别着急，慢慢想办法<br>
                      一切都会好起来的<br>
                      把心放宽点儿<br>
                      想开点儿<br>
                      别太难受/别难过<br>
                      要多保重<br>
                      没什么/没什么大不了的<br>
                      ( that something happened / will happen )+是难免的<br>
                      不要紧，没+( something happened )+就好<br>
                      A就A吧，……</td>
                  </tr>
                  <tr>
                    <td><div align="center"><span class="STYLE1">关心<br>
                    Care</span></div></td>
                    <td>( someone )+病好了吗？<br>
                      ( someone )+什么时候+( do something )？<br>
                      你怎么样了？<br>
                      最近忙吗？<br>
                      ( do something )+了吗？<br>
                      习惯+( some place )+的生活了吗？</td>
                  </tr>
                  <tr>
                    <td><div align="center"><span class="STYLE1">同情<br>
                    Sympathy</span></div></td>
                    <td>真可怜！<br>
                      真让人同情<br>
                      为+( someone )+难过<br>
                      ( someone )+值得同情</td>
                  </tr>
                  <tr>
                    <td><div align="center"><span class="STYLE1">原谅<br>
                    Forgive</span></div></td>
                    <td>我能原谅你<br>
                      下次注意就行了<br>
                      这也难怪他，……<br>
                      谁还没有做错的时候呢？<br>
                      算了<br>
                      没关系<br>
                      情有可原<br>
                      说的也是</td>
                  </tr>
                  <tr>
                    <td><div align="center"><span class="STYLE1">遗憾<br>
                    Sorry</span></div></td>
                    <td>真/很/非常+遗憾<br>
                      太可惜了<br>
                      ( something )+让+( someone )+感到遗憾<br>
                      实在令人惋惜<br>
                      对于+( something )，我们表示遗憾！</td>
                  </tr>
                  <tr>
                    <td><div align="center"><span class="STYLE1">看不起、轻视<br>
                    Look down upon or underestimate</span></div></td>
                    <td>( someone )+懂/知道+什么！<br>
                      我最看不起+( some kind of 人/事)<br>
                      算什么<br>
                      有什么了不起<br>
                      不是那块料/不是+( do something )+的料<br>
                      不就是+( do something )+吗？<br>
                      就+( personal pronoun )？<br>
                      就+这+( noun )，还想……？<br>
                      算什么+( noun )？：这算什么超级商场？</td>
                  </tr>
                  <tr>
                    <td><div align="center"><span class="STYLE1">不在乎<br>
                    Don't care</span></div></td>
                    <td>没关系/没什么/这有什么<br>
                      随便/随你的便<br>
                      无所谓<br>
                      A就A吧，……<br>
                      爱A不A<br>
                      怎么……都行</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- BEGIN FOOTER -->
            <div class="row" style="background: #313030; color: #b0b0b0">
          <!-- BEGIN BOTTOM ABOUT BLOCK -->
          <div class="col-md-6 col-sm-4" style="background: #313030">
            <h3 style="margin-top: 10px">About us</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam sit nonummy nibh euismod tincidunt ut laoreet dolore magna aliquarm erat sit volutpat.</p>
          </div>
          <!-- END BOTTOM ABOUT BLOCK -->

          <!-- BEGIN BOTTOM CONTACTS -->
          <div class="col-md-6" style="background: #313030">		  
            <h3 style="margin-top: 10px">Our Contacts</h3>
            <address class="margin-bottom-10">
              Adress: 11, 111111 Street, 1111111, VIC, Australia<br>
              Phone: 300 323 3456&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fax: 300 323 1456<br>
              Email: <a href="mailto:info@metronic.com">info@metronic.com</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Skype: <a href="skype:metronic">metronic</a>
            </address>
          </div>
          <!-- END BOTTOM CONTACTS -->        
        </div>

        <div class="row">
          <!-- BEGIN COPYRIGHT -->
          <div class="col-md-6 col-sm-6 padding-top-10" style="background: #272626; color: #b0b0b0;">
            2015 © MHN Family Firm. ALL Rights Reserved. <a href="javascript:;">Privacy Policy</a> | <a href="javascript:;">Terms of Service</a>
          </div>
          <!-- END COPYRIGHT -->
          <!-- BEGIN PAYMENTS -->
          <div class="col-md-6 col-sm-6" style="background: #272626">
            <ul class="social-footer list-unstyled list-inline pull-right">
              <li><a href="javascript:;"><i class="fa fa-facebook"></i></a></li>
              <li><a href="javascript:;"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="javascript:;"><i class="fa fa-dribbble"></i></a></li>
              <li><a href="javascript:;"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="javascript:;"><i class="fa fa-twitter"></i></a></li>
              <li><a href="javascript:;"><i class="fa fa-skype"></i></a></li>
              <li><a href="javascript:;"><i class="fa fa-github"></i></a></li>
              <li><a href="javascript:;"><i class="fa fa-youtube"></i></a></li>
              <li><a href="javascript:;"><i class="fa fa-dropbox"></i></a></li>
            </ul>  
          </div>
          <!-- END PAYMENTS -->
        </div>
    <!-- END FOOTER -->

    <!-- Load javascripts at bottom, this will reduce page load time -->
    <!-- BEGIN CORE PLUGINS (REQUIRED FOR ALL PAGES) -->
    <!--[if lt IE 9]>
    <script src="/assets/global/plugins/respond.min.js"></script>
    <![endif]--> 
    <script src="/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>      
    <script src="/assets/frontend/layout/scripts/back-to-top.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->

    <!-- BEGIN PAGE LEVEL JAVASCRIPTS (REQUIRED ONLY FOR CURRENT PAGE) -->
    <script src="/assets/global/plugins/fancybox/source/jquery.fancybox.pack.js" type="text/javascript"></script><!-- pop up -->

    <script src="/assets/frontend/layout/scripts/layout.js" type="text/javascript"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            Layout.init();    
            Layout.initTwitter();
        });
    </script>
    <!-- END PAGE LEVEL JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>