<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<!-- Head BEGIN -->
<head>
  <meta charset="utf-8">
  <title>Common Expressions - Opinions</title>

  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <meta content="Metronic Shop UI description" name="description">
  <meta content="Metronic Shop UI keywords" name="keywords">
  <meta content="keenthemes" name="author">

  <meta property="og:site_name" content="-CUSTOMER VALUE-">
  <meta property="og:title" content="-CUSTOMER VALUE-">
  <meta property="og:description" content="-CUSTOMER VALUE-">
  <meta property="og:type" content="website">
  <meta property="og:image" content="-CUSTOMER VALUE-"><!-- link to image for socio -->
  <meta property="og:url" content="-CUSTOMER VALUE-">

  <link rel="shortcut icon" href="favicon.ico">

  <!-- Fonts START -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|PT+Sans+Narrow|Source+Sans+Pro:200,300,400,600,700,900&amp;subset=all" rel="stylesheet" type="text/css">
  <!-- Fonts END -->

  <!-- Global styles START -->          
  <link href="/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Global styles END --> 
   
  <!-- Page level plugin styles START -->
  <link href="/assets/global/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet">
  <!-- Page level plugin styles END -->

  <!-- Theme styles START -->
  <link href="/assets/global/css/components.css" rel="stylesheet">
  <link href="/assets/frontend/layout/css/style.css" rel="stylesheet">
  <link href="/assets/frontend/layout/css/style-responsive.css" rel="stylesheet">
  <link href="/assets/frontend/layout/css/themes/red.css" rel="stylesheet" id="style-color">
  <link href="/assets/frontend/layout/css/custom.css" rel="stylesheet">
  <!-- Theme styles END -->
  <style type="text/css">
<!--
.STYLE3 {color: #E86B55; font-weight: bold; }
-->
  </style>
</head>
<!-- Head END -->

<!-- Body BEGIN -->
<body class="corporate">
    <!-- BEGIN STYLE CUSTOMIZER -->
    <div class="color-panel hidden-sm">
      <div class="color-mode-icons icon-color"></div>
      <div class="color-mode-icons icon-color-close"></div>
      <div class="color-mode">
        <p>THEME COLOR</p>
        <ul class="inline">
          <li class="color-red current color-default" data-style="red"></li>
          <li class="color-blue" data-style="blue"></li>
          <li class="color-green" data-style="green"></li>
          <li class="color-orange" data-style="orange"></li>
          <li class="color-gray" data-style="gray"></li>
          <li class="color-turquoise" data-style="turquoise"></li>
        </ul>
      </div>
    </div>
    <!-- END BEGIN STYLE CUSTOMIZER --> 

    <!-- BEGIN TOP BAR -->
    <div class="pre-header">
        <div class="container">
            <div class="row">
                <!-- BEGIN TOP BAR MENU -->
				<!-- BEGIN TOP BAR LEFT PART -->
                <div class="col-md-6 col-sm-6 additional-shop-info"></div>
                <!-- END TOP BAR LEFT PART -->
				<div>
                    <ul class="list-unstyled list-inline pull-right">
                        <li><a href="page-login.html">Log In</a></li>
                        <li><a href="page-registration.html">Registration</a></li>
                    </ul>
                </div>
                <!-- END TOP BAR MENU -->
            </div>
        </div>        
    </div>
    <!-- END TOP BAR -->
    <!-- BEGIN HEADER -->
    <div class="header">
      <div class="container">
        <a class="site-logo" href="index.html"><img src="/assets/frontend/layout/img/logos/logo-corp-red.png" alt="Reading Chinese"></a>
        <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>

        <!-- BEGIN NAVIGATION -->
        <div class="header-navigation pull-right font-transform-inherit">
          <ul>
            <li class="dropdown">
            <li class="dropdown dropdown-megamenu">
              <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
			  Characters
			  </a>
              <ul class="dropdown-menu">
                <li><a href="hsk-characters.html">HSK Characters</a></li>
				<li><a href="most-used-characters.html">Most-used Characters</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
                Vocabulary 
              </a>                
              <ul class="dropdown-menu">
                <li><a href="hsk-vocabulary.html#tab-1" class="active">Level 1</a></li>
                <li><a href="hsk-vocabulary.html#tab-2" class="active">Level 2</a></li>
                <li><a href="hsk-vocabulary.html#tab-3" class="active">Level 3</a></li>
                <li><a href="hsk-vocabulary.html#tab-4" class="active">Level 4</a></li>
                <li><a href="hsk-vocabulary.html#tab-5" class="active">Level 5</a></li>
                <li><a href="hsk-vocabulary.html#tab-6" class="active">Level 6</a></li>       
              </ul>
            </li>
			<li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
                Grammar 
              </a>                
              <ul class="dropdown-menu">
                <li><a href="hsk-grammar.html">Level 1</a></li>
                <li><a href="hsk-grammar.html">Level 2</a></li>
                <li><a href="hsk-grammar.html">Level 3</a></li>  
              </ul>
            </li>
			<li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="expressions.html">
                Expressions 
              </a>                
              <ul class="dropdown-menu">
                <li><a href="express-greetings.html">Greetings</a></li>
                <li><a href="express-actions.html">Actions</a></li>
                <li><a href="express-opinions.html">Opinions</a></li>
                <li><a href="express-feelings.html">Feelings</a></li>
                <li><a href="express-conversations.html">Conversations</a></li>  
              </ul>
            </li>
            <!-- BEGIN TOP SEARCH -->
            <li class="menu-search">
              <span class="sep"></span>
              <i class="fa fa-search search-btn"></i>
              <div class="search-box">
                <form action="#">
                  <div class="input-group">
                    <input type="text" placeholder="Search" class="form-control">
                    <span class="input-group-btn">
                      <button class="btn btn-primary" type="submit">Search</button>
                    </span>
                  </div>
                </form>
              </div> 
            </li>
            <!-- END TOP SEARCH -->
          </ul>
        </div>
        <!-- END NAVIGATION -->
      </div>
    </div>
    <!-- Header END -->

    <div class="main">
      <div class="container">
        <ul class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="expressions.html">Common Expressions</a></li>
            <li class="active">Opinions</li>
        </ul>

        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
          <!-- BEGIN CONTENT -->
          <div class="col-md-12 col-sm-12">
            <h1>Common Expressions - <font color="#E86B55">Opinions</font></h1>
              <div class="row">
                    <table cellspacing="2" border="1" bordercolor="#F1BDAB">
                      <tr>
                        <td width="210"><p align="center" class="STYLE3">同意、赞成<br>
                        Agreement</span></td>
                        <td width="688">同意<br>
                        我同意……<br>
                        你说出了我的心里话<br>
                        我们和+( someone/some people )+的意见一样<br>
                        ( someone )+说的一点不错<br>
                        我也这么看<br>
                        我完全赞成+( someone/some people )+的意见<br>
                        就这么办<br>
                        是啊，……<br>
                        当然/那还用说！<br>
                        可不/可不是/说得是/就是/没错儿！<br>
                        没问题/毫无问题！<br>
                        好主意/主意不错！<br>
                        就这样吧，……<br>
                        A就A吧，……</td>
                      </tr>
                      <tr>
                       <td><p align="center" class="STYLE3">反对、不赞成<br>
                        Opposition</span></td>
                       <td>我不同意<br>
                        我不能接受+( someone/some people )+的观点<br>
                        我不同意+( some kind of )+的说法<br>
                        这种说法有问题<br>
                        我不赞成……<br>
                        不见得<br>
                        办不到<br>
                        我不这样认为<br>
                        对……持保留意见<br>
                        怎么能……呢？<br>
                        A是A，不过/但是……</td>
                      </tr>
                      <tr>
                        <td><p align="center" class="STYLE3">肯定/不肯定<br>
                        Affirmation / Non-affirmation</p>                      </td>
                       <td>你去南方旅行吗？  ——去！<br>
                        这样好不好？   ——好！当然啦！<br>
                        ( someone )+肯定十( do something )/( not do something )<br>
                        ( someone )+亲眼看见……<br>
                        难道不知道吗？[：肯定知道]<br>
                        ( someone )+不能不+( do something )<br>
                        ( someone )+不知道……<br>
                        ( someone )+说不准……<br>
                        我也说不好<br>
                        可能<br>
                        恐怕</td>
                      </tr>
                      <tr>
                       <td><p align="center" class="STYLE3">否定<br>
                        Negation</span></td>
                       <td>不是<br>
                        不+( verb )<br>
                        没有+( verb )   <br>
                        不+( adjective )<br>
                        好什么！        [=not good at all！]<br>
                        难道……会相信吗？      [= not believe]<br>
                        什么时候做过这样的事？  [= have never done such    kind of things！]<br>
                        怎么知道？        [=不可能知道。]<br>
                        谁+( verb )？        [=谁也不……]<br>
                        哪儿有”…………     [=没有……]<br>
                        哪儿啊！        [=不是/不对]</td>
                      </tr>
                      <tr>
                       <td><p align="center" class="STYLE3">相信<br>
                        Believing</span></td>
                       <td>( someone )+相信……<br>
                        确实是那样<br>
                        没错！<br>
                        是真的！<br>
                        ( someone )+不会说谎的<br>
                        无疑<br>
                        毫无疑问<br>
                        深信<br>
                        确信无疑<br>
                        错不了<br>
                        会……的<br>
                        有把握，不会……的<br>
                        不管……，都会……</td>
                      </tr>
                      <tr>
                       <td><p align="center" class="STYLE3">不相信<br>
                        Not believing</span></td>
                       <td>( someone )+不相信<br>
                        ( someone )+才不信呢<br>
                        ( someone )+说的跟真的一样<br>
                        这种话谁相信啊！<br>
                        ( someone )+骗人！<br>
                        不会的/不会呀<br>
                        别逗了<br>
                        得啦/得了吧<br>
                        骗得了别人骗不了我<br>
                        这种……我见得多了<br>
                        我不信/这不可能，除非……</td>
                      </tr>
                      <tr>
                       <td><p align="center" class="STYLE3">怀疑<br>
                        Doubt</span></td>
                       <td>这是真的吗？<br>
                        不会吧？<br>
                        不见得吧？<br>
                        怎么可能呢？<br>
                        哪会这样呢？<br>
                        你没有听错吧？<br>
                        我怀疑……<br>
                        难道……？<br>
                        有鬼/有文章<br>
                        ( someone, or something )+怎么这么……？<br>
                        能+( do something )+吗？    [“能”is a    stressed syllable. ]<br>
                        ( verb-complement construction )+了+吧？：你记错了吧？<br>
                        没 / 没有 +( verb-complement construction )+吧？：你没有算错？</td>
                      </tr>
                      <tr>
                       <td><p align="center" class="STYLE3">承认<br>
                        Recognition</span></td>
                       <td>我承认<br>
                        我承认+( something )<br>
                        是我的不对<br>
                        是我搞错了<br>
                        这是我的责任    <br>
                        我是说过<br>
                        不小心/大意/太马虎了<br>
                        怨我/怪我<br>
                        ( a result )+是我造成的</td>
                      </tr>
                      <tr>
                       <td><p align="center" class="STYLE3">否认<br>
                        Denial</span></td>
                       <td>……，其实不然，……<br>
                        没责任/没参与<br>
                        无中生有/造谣生事<br>
                        从没…………，怎么会…………？<br>
                        ……连听说都没听说过/连见都没见过，+更不用说/更别说……了</td>
                      </tr>
                      <tr>
                       <td><p align="center" class="STYLE3">有能力/无能力<br>
                        Able to do / Unable to do…</span></td>
                       <td>没问题<br>
                        ( someone )+能/会+( do something )<br>
                        ( someone )+(做)+得了(liao)<br>
                        ( someone )+(做)+得好+( something )<br>
                        干这个，+( someone )+还行<br>
                        ( do something )+对( someone )来说太容易了<br>
                        ( someone )不会+( do something )<br>
                        ( something )+( someone )+可干不了(liǎo)<br>
                        ( someone )怎么+( do )+得了呢？<br>
                        这对( someone )来说简直太难了</td>
                      </tr>
                      <tr>
                       <td><p align="center" class="STYLE3">估计<br>
                        Estimation</span></td>
                       <td>大概<br>
                        恐怕<br>
                        说不定<br>
                        也许<br>
                        ……了吧<br>
                        我想会……吧<br>
                        猜/猜想/估计<br>
                        听口气，……<br>
                        我看/看来/看起来……<br>
                        看上去/听上去……</td>
                      </tr>
                      <tr>
                       <td><p align="center" class="STYLE3">必须/不必<br>
                        Must / Needn’t</span></td>
                       <td>必须<br>
                        得děi+( do something )<br>
                        不+( do something )+不行<br>
                        不用/不必+( do something )……<br>
                        何必……<br>
                        用不着……<br>
                        值得……吗？</td>
                      </tr>
                      <tr>
                       <td><p align="center" class="STYLE3">知道/不知道<br>
                        I know / I don’t know…</span></td>
                       <td>知道<br>
                        听说了<br>
                        ( someone )+太了解……了<br>
                        ( someone )+已经告诉我了<br>
                        熟悉<br>
                        了如指掌<br>
                        不知道<br>
                        没听说    <br>
                        不了解<br>
                        怎么会了解呢？<br>
                        根本不认识</td>
                      </tr>
                      <tr>
                       <td><p align="center" class="STYLE3">接受<br>
                        Acceptation</span></td>
                       <td>好！<br>
                        行！<br>
                        可以！ <br>
                        好吧！<br>
                        没问题！<br>
                        一定办到！<br>
                        谢谢你的邀请，我一定参加<br>
                        谢谢你的礼物，我很喜欢<br>
                        感谢你的批评，我下次一定注意<br>
                        你的批评很对，我一定接受教训<br>
                        这样的条件，我们可以接受<br>
                        我们同意以这样的条件成交<br>
                        你的建议很好，我们一定采纳</td>
                      </tr>
                      <tr>
                       <td><p align="center" class="STYLE3">拒绝<br>
                        Refusal</span></td>
                       <td>不行！<br>
                        我们研究研究再说<br>
                        以后再说吧<br>
                        有点难办<br>
                        恐怕不好办<br>
                        对不起，可能办不到<br>
                        不行，这事我实在办不到<br>
                        对不起，我明天有事，去不了liǎo<br>
                        对不起，我有点儿不舒服，不想去<br>
                        我已经有约会了，实在抱歉<br>
                        这种礼物绝对不能收<br>
                        你的心意我领了，但礼物无论如何不能收<br>
                        谢谢，我自己能来<br>
                        谢谢你的好意，但我想我自己能解决</td>
                      </tr>
                      <tr>
                       <td><p align="center" class="STYLE3">选择<br>
                        Choices<br>
                        </span></td>
                       <td>是……还是……？<br>
                        或者……或者……<br>
                        不是……就是……<br>
                        或是……，或是……    <br>
                        宁可/宁愿/宁肯……也要/也不/决不/也不愿……<br>
                        要么……要么……<br>
                        与其……(倒)不如……</td>
                      </tr>
                      <tr>
                       <td><p align="center" class="STYLE3">表扬<br>
                        Appraisal</span></td>
                       <td>( someone )+是+个+好+老师/学生……<br>
                        ( someone )+这样做是对的<br>
                        ( someone )……，特提出表扬</td>
                      </tr>
                      <tr>
                       <td><p align="center" class="STYLE3">批评<br>
                        Criticism</span></td>
                       <td>( someone )+这样做是不对的<br>
                        你怎么能这样做呢？<br>
                        你不应该……<br>
                        你这样对得起……吗？<br>
                        希望你今后改掉这些缺点<br>
                        ( someone did a wrong thing )，特通报批评<br>
                        讳疾忌医/自欺欺人/口是心非<br>
                        这( would be )太……了   <br>
                        ( some kind of thing )+是你应该+( do )+的吗？<br>
                        都……了，还这么……<br>
                        非但不能……，反而……<br>
                        这样/这么……，早晚要……<br>
                        你是怎么+( do something )+的？<br>
                        ( some kind of 做法)+显然是+错误的/不合理的<br>
                        ( rhetorical question )：你整天玩儿，还想上大学？<br>
                        不认真地/不好好地+( do something )，+( rhetorical question )？</td>
                      </tr>
                      <tr>
                       <td><p align="center" class="STYLE3">责备<br>
                        Blame</span></td>
                       <td>( someone    )+怎么能/怎么可以/怎么敢……？<br>
                        ( someone )+怎么这么/怎么那么……！<br>
                        真不像话！<br>
                        像什么话/什么样子！<br>
                        成什么样子了？<br>
                        哪有你这样的！<br>
                        怎么就不……？<br>
                        亏你……<br>
                        ( someone )就会……<br>
                        你(也)太……了<br>
                        有+( someone )+这样……的吗？<br>
                        你不觉得太……吗？<br>
                        好好的/好端端的……让你给……</td>
                      </tr>
                      <tr>
                       <td><p align="center" class="STYLE3">质问<br>
                        Interpellation</span></td>
                       <td>到底/究竟……？<br>
                        怎么/怎么敢/怎么会/为什么……？[  in a harsh tone    ]<br>
                        凭什么……？<br>
                        ( someone )+还有没有+( a principle or quality)？<br>
                        难道……………？<br>
                        你这不是……吗？<br>
                        我问你，你…………？<br>
                        (老实)说！+( question )？</td>
                      </tr>
                      <tr>
                       <td><p align="center" class="STYLE3">决定<br>
                        Making decisions</span></td>
                       <td>( someone )+决定了<br>
                        好了，就这样吧<br>
                        我决定……<br>
                        ( something )+定下来了    <br>
                        ( someone )+打定主意了，决不再改变了<br>
                        我的决心已定，一定要……</td>
                      </tr>
                      <tr>
                       <td><p align="center" class="STYLE3">保证<br>
                        Pledge</span></td>
                        <td>一定／保证／保险／保准／准保／绝对+(动词)<br>
                          既然……，就一定…… <br>
                          不管／无论……，都…… <br>
                        哪怕……也…… </p></td>
                      </tr>
                      <tr>
                       <td><p align="center" class="STYLE3">信任/不信任<br>
                        Trust / Distrust</span></td>
                       <td>( someone )+准/保管+( verb )<br>
                        ( someone )+靠得住<br>
                        信得过+( someone )<br>
                        你看着办吧/你决定吧/你做主吧<br>
                        不放心<br>
                        ( someone )+靠不住<br>
                        信不过+( someone )<br>
                        ( someone do something )，行吗？</td>
                      </tr>
                      <tr>
                       <td><p align="center" class="STYLE3">服从<br>
                        Obedience</span></td>
                       <td>行！<br>
                        可以！<br>
                        好吧！<br>
                        好，好！<br>
                        行，行，听你的<br>
                        我服从  <br>
                        我服从+( someone )+的决定<br>
                        我没有意见<br>
                        我随你<br>
                        好，就照你说的做吧</td>
                      </tr>
                      <tr>
                       <td><p align="center" class="STYLE3">犹豫<br>
                        Hesitation</span></td>
                       <td>考虑考虑<br>
                        举棋不定<br>
                        拿不定主意<br>
                        ( verb )+来+( verb )+去，下不了决心<br>
                        左思右想+决定不了/决定不下来</td>
                      </tr>
                      <tr>
                       <td><p align="center" class="STYLE3">听任<br>
                        Surrender</span></td>
                       <td>算了吧/就这样吧<br>
                        放任自流/听其自然<br>
                        随便吧<br>
                        随……的便<br>
                        任+( someone )+( do something )<br>
                        让+( someone/some persons )+( do something )+去吧！<br>
                        由/随+他+去吧<br>
                        既然……只好……<br>
                        A就A吧，反正……<br>
                        A就A吧+我不在乎/没关系</td>
                      </tr>
                      <tr>
                       <td><p align="center" class="STYLE3">有把握<br>
                        Have confidence (I’m sure …)</span></td>
                       <td>准/肯定/一定/必定+( verb )<br>
                        没错儿/不会错/错不了<br>
                        没问题/不成问题<br>
                        心里有数/心里有谱儿/胸有成竹<br>
                        十拿九稳/稳操胜券<br>
                        我敢说，……<br>
                        不……才怪呢</td>
                      </tr>
                      <tr>
                        <td><div align="center"><span class="STYLE3">无把握<br>
                        Have no confidence (I’m afraid…)</span></div></td>
                        <td>恐怕<br>
                        未必<br>
                        没数儿/没底儿<br>
                        很难说/不好说<br>
                        拿不准/说不准/说不好<br>
                        不敢保证……<br>
                        一半的把握/百分之五十的把握<br>
                        天知道……<br>
                        谁说得准！</td>
                      </tr>
                      </table>
                  </div>
            </div>
          </div>
		</div>
	  </div>
    </div>

    <!-- BEGIN FOOTER -->
            <div class="row" style="background: #313030; color: #b0b0b0">
          <!-- BEGIN BOTTOM ABOUT BLOCK -->
          <div class="col-md-6 col-sm-4" style="background: #313030">
            <h3 style="margin-top: 10px">About us</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam sit nonummy nibh euismod tincidunt ut laoreet dolore magna aliquarm erat sit volutpat.</p>
          </div>
          <!-- END BOTTOM ABOUT BLOCK -->

          <!-- BEGIN BOTTOM CONTACTS -->
          <div class="col-md-6" style="background: #313030">		  
            <h3 style="margin-top: 10px">Our Contacts</h3>
            <address class="margin-bottom-10">
              Adress: 11, 111111 Street, 1111111, VIC, Australia<br>
              Phone: 300 323 3456&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fax: 300 323 1456<br>
              Email: <a href="mailto:info@metronic.com">info@metronic.com</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Skype: <a href="skype:metronic">metronic</a>
            </address>
          </div>
          <!-- END BOTTOM CONTACTS -->        
        </div>

        <div class="row">
          <!-- BEGIN COPYRIGHT -->
          <div class="col-md-6 col-sm-6 padding-top-10" style="background: #272626; color: #b0b0b0;">
            2015 © MHN Family Firm. ALL Rights Reserved. <a href="javascript:;">Privacy Policy</a> | <a href="javascript:;">Terms of Service</a>
          </div>
          <!-- END COPYRIGHT -->
          <!-- BEGIN PAYMENTS -->
          <div class="col-md-6 col-sm-6" style="background: #272626">
            <ul class="social-footer list-unstyled list-inline pull-right">
              <li><a href="javascript:;"><i class="fa fa-facebook"></i></a></li>
              <li><a href="javascript:;"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="javascript:;"><i class="fa fa-dribbble"></i></a></li>
              <li><a href="javascript:;"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="javascript:;"><i class="fa fa-twitter"></i></a></li>
              <li><a href="javascript:;"><i class="fa fa-skype"></i></a></li>
              <li><a href="javascript:;"><i class="fa fa-github"></i></a></li>
              <li><a href="javascript:;"><i class="fa fa-youtube"></i></a></li>
              <li><a href="javascript:;"><i class="fa fa-dropbox"></i></a></li>
            </ul>  
          </div>
          <!-- END PAYMENTS -->
        </div>
    <!-- END FOOTER -->

    <!-- Load javascripts at bottom, this will reduce page load time -->
    <!-- BEGIN CORE PLUGINS (REQUIRED FOR ALL PAGES) -->
    <!--[if lt IE 9]>
    <script src="/assets/global/plugins/respond.min.js"></script>
    <![endif]--> 
    <script src="/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>      
    <script src="/assets/frontend/layout/scripts/back-to-top.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->

    <!-- BEGIN PAGE LEVEL JAVASCRIPTS (REQUIRED ONLY FOR CURRENT PAGE) -->
    <script src="/assets/global/plugins/fancybox/source/jquery.fancybox.pack.js" type="text/javascript"></script><!-- pop up -->

    <script src="/assets/frontend/layout/scripts/layout.js" type="text/javascript"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            Layout.init();    
            Layout.initTwitter();
        });
    </script>
    <!-- END PAGE LEVEL JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>