<div class="col-md-3 col-sm-3 sidebar">
    <!-- CATEGORIES START -->
    <h2 class="no-top-space">Categories</h2>
    <ul class="list-group margin-bottom-25 sidebar-menu">
        <li class="list-group-item clearfix"><a href="javascript:void(0);" class="collapsed"><i
                class="fa fa-angle-right"></i>Textbooks</a>
            <ul class="dropdown-menu" style="display:block; font:13px 'Open Sans', Arial">
                <li><a href="shop-product-list.html"><i class="fa fa-angle-right"></i> Textbooks for Chinese
                    Students</a></li>
                <li><a href="shop-product-list.html"><i class="fa fa-angle-right"></i> Bussiness Chinese </a></li>
                <li><a href="shop-product-list.html"><i class="fa fa-angle-right"></i> Travel Chinese </a></li>
            </ul>
        </li>
        <li class="list-group-item clearfix"><a href="javascript:void(0);" class="collapsed"><i
                class="fa fa-angle-right"></i>
            Stories

        </a>
            <ul class="dropdown-menu" style="display:block; font:13px 'Open Sans', Arial">
                <li><a href="shop-product-list.html"><i class="fa fa-angle-right"></i> Idiom Stories </a></li>
                <li><a href="shop-product-list.html"><i class="fa fa-angle-right"></i> Fair Tales </a></li>
                <li><a href="shop-product-list.html"><i class="fa fa-angle-right"></i> Humour Stories </a></li>
                <li><a href="shop-product-list.html"><i class="fa fa-angle-right"></i> Celebrity Stories </a></li>
            </ul>
        </li>
        <li class="list-group-item clearfix"><a href="shop-product-list.html"><i class="fa fa-angle-right"></i>
            Essays </a></li>
        <li class="list-group-item clearfix"><a href="shop-product-list.html"><i class="fa fa-angle-right"></i>
            News </a></li>
        <li class="list-group-item clearfix"><a href="shop-product-list.html"><i class="fa fa-angle-right"></i>
            Novels</a></li>
        <li class="list-group-item clearfix"><a href="shop-product-list.html"><i class="fa fa-angle-right"></i>
            Encyclopedia</a></li>
    </ul>

    <!-- BEGIN BLOG TAGS -->
    <div class="blog-tags margin-bottom-20">
        <h2>Tags</h2>
        <ul>
            <li><a href="javascript:;"><i class="fa fa-tags"></i>OS</a></li>
            <li><a href="javascript:;"><i class="fa fa-tags"></i>Metronic</a></li>
            <li><a href="javascript:;"><i class="fa fa-tags"></i>Dell</a></li>
            <li><a href="javascript:;"><i class="fa fa-tags"></i>Conquer</a></li>
            <li><a href="javascript:;"><i class="fa fa-tags"></i>MS</a></li>
            <li><a href="javascript:;"><i class="fa fa-tags"></i>Google</a></li>
            <li><a href="javascript:;"><i class="fa fa-tags"></i>Keenthemes</a></li>
            <li><a href="javascript:;"><i class="fa fa-tags"></i>Twitter</a></li>
        </ul>
    </div>
    <!-- END BLOG TAGS -->
</div>