<div class="col-md-3 col-sm-3 sidebar">
    <!-- CATEGORIES START -->
    <h2 class="no-top-space">Categories</h2>
    <ul class="list-group margin-bottom-25 sidebar-menu">
        <li class="list-group-item clearfix"><a href="javascript:void(0);" class="collapsed"><i
                class="fa fa-angle-right"></i>Literature</a>
            <ul class="dropdown-menu" style="display:block; font:13px 'Open Sans', Arial">
                <li><a href="shop-product-list.html"><i class="fa fa-angle-right"></i> Prose
                    Students</a></li>
                <li><a href="shop-product-list.html"><i class="fa fa-angle-right"></i> Fiction </a></li>
                <li><a href="shop-product-list.html"><i class="fa fa-angle-right"></i> Biography </a></li>
                <li><a href="shop-product-list.html"><i class="fa fa-angle-right"></i> Drama </a></li>
                <li><a href="shop-product-list.html"><i class="fa fa-angle-right"></i> Poem </a></li>
                <li><a href="shop-product-list.html"><i class="fa fa-angle-right"></i> Story </a></li>
                <li><a href="shop-product-list.html"><i class="fa fa-angle-right"></i> Other </a></li>
            </ul>
        </li>
        <li class="list-group-item clearfix"><a href="javascript:void(0);" class="collapsed"><i
                class="fa fa-angle-right"></i>
            Encyclopedia

        </a>
            <ul class="dropdown-menu" style="display:block; font:13px 'Open Sans', Arial">
                <li><a href="shop-product-list.html"><i class="fa fa-angle-right"></i> Nature </a></li>
                <li><a href="shop-product-list.html"><i class="fa fa-angle-right"></i> Society </a></li>
            </ul>
        </li>
        <li class="list-group-item clearfix"><a href="javascript:void(0);" class="collapsed"><i
                class="fa fa-angle-right"></i>
            Practical Writings

        </a>
            <ul class="dropdown-menu" style="display:block; font:13px 'Open Sans', Arial">
                <li><a href="shop-product-list.html"><i class="fa fa-angle-right"></i> Administrative Documents </a></li>
                <li><a href="shop-product-list.html"><i class="fa fa-angle-right"></i> Industry Documents </a></li>
                <li><a href="shop-product-list.html"><i class="fa fa-angle-right"></i> Daily Papers </a></li>
            </ul>
        </li>

        <li class="list-group-item clearfix"><a href="javascript:void(0);" class="collapsed"><i
                class="fa fa-angle-right"></i>
            Textbooks

        </a>
            <ul class="dropdown-menu" style="display:block; font:13px 'Open Sans', Arial">
                <li><a href="shop-product-list.html"><i class="fa fa-angle-right"></i> For Chinese Students </a></li>
                <li><a href="shop-product-list.html"><i class="fa fa-angle-right"></i> For Non-Chinese Learners </a></li>
            </ul>
        </li>

    </ul>

    <!-- BEGIN BLOG TAGS -->
    <div class="blog-tags margin-bottom-20">
        <h2>Tags</h2>
        <ul>
            <li><a href="javascript:;"><i class="fa fa-tags"></i>Novel</a></li>
            <li><a href="javascript:;"><i class="fa fa-tags"></i>Technology</a></li>
            <li><a href="javascript:;"><i class="fa fa-tags"></i>Philosophy</a></li>
            <li><a href="javascript:;"><i class="fa fa-tags"></i>Poem</a></li>
            <li><a href="javascript:;"><i class="fa fa-tags"></i>Idiom</a></li>
            <li><a href="javascript:;"><i class="fa fa-tags"></i>Contemporary</a></li>
            <li><a href="javascript:;"><i class="fa fa-tags"></i>Textbook</a></li>
            <li><a href="javascript:;"><i class="fa fa-tags"></i>History</a></li>
        </ul>
    </div>
    <!-- END BLOG TAGS -->
</div>