<style>
  ul.dropdown-menu li a.choosen {
    color: #E84D1C;
  };
</style>


<div class="col-md-3 col-sm-3 sidebar">
  <!-- CATEGORIES START -->
  <h2 class="no-top-space">Categories</h2>
  <ul class="list-group margin-bottom-25 sidebar-menu">
    <li class="list-group-item clearfix"><a href="/category?v=文学" class="collapsed"><i
        class="fa fa-angle-right"></i>Literature</a>
      <ul class="dropdown-menu" style="display:block; font:13px 'Open Sans', Arial">
        <li><a href="/category?v=文学>散文"><i class="fa fa-angle-right"></i> Prose </a></li>
        <li><a href="/category?v=文学>小说"><i class="fa fa-angle-right"></i> Fiction </a></li>
        <li class="list-group-item clearfix"><a href="/category?v=文学>纪实" class="collapsed">
          <i class="fa fa-angle-right"></i>Documentary Literature</a>
          <ul class="dropdown-menu" style="display:block; font:13px 'Open Sans', Arial">
            <li><a href="/category?v=文学>纪实>传记"><i class="fa fa-angle-right"></i> Biography </a></li>
            <li><a href="/category?v=文学>纪实>报告文学"><i class="fa fa-angle-right"></i> Reportage </a></li>
            <li><a href="/category?v=文学>纪实>其他"><i class="fa fa-angle-right"></i> Others </a></li>
          </ul>
        </li>
        <li><a href="/category?v=文学>剧本"><i class="fa fa-angle-right"></i> Drama </a></li>
        <li class="list-group-item clearfix"><a href="/category?v=文学>诗歌" class="collapsed">
          <i class="fa fa-angle-right"></i>Poem</a>
          <ul class="dropdown-menu" style="display:block; font:13px 'Open Sans', Arial">
            <li><a href="/category?v=文学>诗歌>古诗"><i class="fa fa-angle-right"></i> Ancient Poem </a></li>
            <li><a href="/category?v=文学>诗歌>现代诗"><i class="fa fa-angle-right"></i> Modern Poem </a></li>
            <li><a href="/category?v=文学>诗歌>童谣"><i class="fa fa-angle-right"></i> Nursery Rhyme </a></li>
            <li><a href="/category?v=文学>诗歌>其他"><i class="fa fa-angle-right"></i> Others </a></li>
          </ul>
        </li>
        <li><a href="/category?v=文学>其他"><i class="fa fa-angle-right"></i> Other </a></li>
      </ul>
    </li>

    <li class="list-group-item clearfix"><a href="javascript:void(0);" class="collapsed"><i
        class="fa fa-angle-right"></i>Story</a>
      <ul class="dropdown-menu" style="display:block; font:13px 'Open Sans', Arial">
        <li><a href="/category?v=故事>成语故事"><i class="fa fa-angle-right"></i> Idiom </a></li>
        <li><a href="/category?v=故事>寓言"><i class="fa fa-angle-right"></i> Fable </a></li>
        <li><a href="/category?v=故事>童话"><i class="fa fa-angle-right"></i> Fairy tale </a></li>
        <li><a href="/category?v=故事>幽默"><i class="fa fa-angle-right"></i> Humor </a></li>
        <li><a href="/category?v=故事>智慧"><i class="fa fa-angle-right"></i> Wisdom </a></li>
        <li><a href="/category?v=故事>其他"><i class="fa fa-angle-right"></i> Others </a></li>
      </ul>
    </li>


    <li class="list-group-item clearfix"><a href="javascript:void(0);" class="collapsed"><i
        class="fa fa-angle-right"></i>
      Encyclopedia

    </a>
      <ul class="dropdown-menu" style="display:block; font:13px 'Open Sans', Arial">
        <li class="list-group-item clearfix"><a href="/category?v=百科>自然" class="collapsed">
          <i class="fa fa-angle-right"></i>Nature</a>
          <ul class="dropdown-menu" style="display:block; font:13px 'Open Sans', Arial">
            <li><a href="/category?v=百科>自然>地理"><i class="fa fa-angle-right"></i> Geography </a></li>
            <li><a href="/category?v=百科>自然>天文"><i class="fa fa-angle-right"></i> Astronomy </a></li>
            <li><a href="/category?v=百科>自然>生化"><i class="fa fa-angle-right"></i> Biochemistry </a></li>
            <li><a href="/category?v=百科>自然>医学"><i class="fa fa-angle-right"></i> Medicine </a></li>
            <li><a href="/category?v=百科>自然>数理"><i class="fa fa-angle-right"></i> Mathematics </a></li>
            <li><a href="/category?v=百科>自然>农林"><i class="fa fa-angle-right"></i> Agriculture </a></li>
            <li><a href="/category?v=百科>自然>工程"><i class="fa fa-angle-right"></i> Engineering </a></li>
            <li><a href="/category?v=百科>自然>其他"><i class="fa fa-angle-right"></i> Others </a></li>
          </ul>
        </li>

        <li class="list-group-item clearfix"><a href="/category?v=百科>社会" class="collapsed">
          <i class="fa fa-angle-right"></i>Social Science</a>
          <ul class="dropdown-menu" style="display:block; font:13px 'Open Sans', Arial">
            <li><a href="/category?v=百科>社会>历史"><i class="fa fa-angle-right"></i> History </a></li>
            <li><a href="/category?v=百科>社会>政治"><i class="fa fa-angle-right"></i> Polictics </a></li>
            <li><a href="/category?v=百科>社会>哲学"><i class="fa fa-angle-right"></i> Philosophy </a></li>
            <li><a href="/category?v=百科>社会>宗教"><i class="fa fa-angle-right"></i> Religions </a></li>
            <li><a href="/category?v=百科>社会>法律"><i class="fa fa-angle-right"></i> Law </a></li>
            <li><a href="/category?v=百科>社会>军事"><i class="fa fa-angle-right"></i> Military </a></li>
            <li><a href="/category?v=百科>社会>体育"><i class="fa fa-angle-right"></i> Sports </a></li>
            <li><a href="/category?v=百科>社会>心理"><i class="fa fa-angle-right"></i> Psychology </a></li>
            <li><a href="/category?v=百科>社会>经济"><i class="fa fa-angle-right"></i> Economics </a></li>
            <li><a href="/category?v=百科>社会>教育"><i class="fa fa-angle-right"></i> Education </a></li>
            <li><a href="/category?v=百科>社会>其他"><i class="fa fa-angle-right"></i> Others </a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="list-group-item clearfix"><a href="/category?v=应用文" class="collapsed"><i
        class="fa fa-angle-right"></i> Practical Writings </a>
      <ul class="dropdown-menu" style="display:block; font:13px 'Open Sans', Arial">
        <li class="list-group-item clearfix"><a href="/category?v=应用文>公务公文" class="collapsed">
          <i class="fa fa-angle-right"></i>Administrative Documents</a>
          <ul class="dropdown-menu" style="display:block; font:13px 'Open Sans', Arial">
            <li><a href="/category?v=应用文>公务公文>行政公文"><i class="fa fa-angle-right"></i> Administrative </a></li>
            <li><a href="/category?v=应用文>公务公文>事务文书"><i class="fa fa-angle-right"></i> Affairs </a></li>
            <li><a href="/category?v=应用文>公务公文>其他"><i class="fa fa-angle-right"></i> Others </a></li>
          </ul>
        </li>
        <li class="list-group-item clearfix"><a href="/category?v=应用文>行业文书" class="collapsed">
          <i class="fa fa-angle-right"></i>Industry Documents</a>
          <ul class="dropdown-menu" style="display:block; font:13px 'Open Sans', Arial">
            <li><a href="/category?v=应用文>行业文书>财经文书"><i class="fa fa-angle-right"></i> Financial </a></li>
            <li><a href="/category?v=应用文>行业文书>司法文书"><i class="fa fa-angle-right"></i> Judicial </a></li>
            <li><a href="/category?v=应用文>行业文书>科技文书"><i class="fa fa-angle-right"></i> Scientific </a></li>
            <li><a href="/category?v=应用文>行业文书>传播文书"><i class="fa fa-angle-right"></i> Media </a></li>
            <li><a href="/category?v=应用文>行业文书>广告文案"><i class="fa fa-angle-right"></i> Advertising </a></li>
            <li><a href="/category?v=应用文>行业文书>其他"><i class="fa fa-angle-right"></i> Others </a></li>
          </ul>
        </li>
        <li><a href="/category?v=应用文>日常文书"><i class="fa fa-angle-right"></i> Daily Papers </a></li>
      </ul>
    </li>

    <li class="list-group-item clearfix"><a href="/category?v=课文" class="collapsed"><i
        class="fa fa-angle-right"></i> Textbooks </a>
      <ul class="dropdown-menu" style="display:block; font:13px 'Open Sans', Arial">
        <li class="list-group-item clearfix"><a href="/category?v=课文>第一语言用" class="collapsed">
          <i class="fa fa-angle-right"></i>For Chinese Learners</a>
          <ul class="dropdown-menu" style="display:block; font:13px 'Open Sans', Arial">
            <li><a href="/category?v=课文>第一语言用>小学语文"><i class="fa fa-angle-right"></i> Primary School </a></li>
            <li><a href="/category?v=课文>第一语言用>中学语文"><i class="fa fa-angle-right"></i> Secondary School </a></li>
            <li><a href="/category?v=课文>第一语言用>大学语文"><i class="fa fa-angle-right"></i> University </a></li>
            <li><a href="/category?v=课文>第一语言用>其他"><i class="fa fa-angle-right"></i> Others </a></li>
          </ul>
        </li>

        <li class="list-group-item clearfix"><a href="/category?v=课文>第二语言用" class="collapsed">
          <i class="fa fa-angle-right"></i>For Non-Chinese Learners</a>
          <ul class="dropdown-menu" style="display:block; font:13px 'Open Sans', Arial">
            <li><a href="/category?v=课文>第二语言用>实用汉语"><i class="fa fa-angle-right"></i> Practical Chinese </a></li>
            <li><a href="/category?v=课文>第二语言用>商务汉语"><i class="fa fa-angle-right"></i> Business Chinese </a></li>
            <li><a href="/category?v=课文>第二语言用>旅游汉语"><i class="fa fa-angle-right"></i> Tourist Chinese </a></li>
            <li><a href="/category?v=课文>第二语言用>其他"><i class="fa fa-angle-right"></i> Others </a></li>
          </ul>
        </li>
        <li><a href="/category?v=课文>其他"><i class="fa fa-angle-right"></i> Others </a></li>
      </ul>
    </li>

  </ul>

  <!--&lt;!&ndash; BEGIN BLOG TAGS &ndash;&gt;-->
  <!--<div class="blog-tags margin-bottom-20">-->
  <!--<h2>Tags</h2>-->
  <!--<ul>-->
  <!--<li><a href="javascript:;"><i class="fa fa-tags"></i>Novel</a></li>-->
  <!--<li><a href="javascript:;"><i class="fa fa-tags"></i>Technology</a></li>-->
  <!--<li><a href="javascript:;"><i class="fa fa-tags"></i>Philosophy</a></li>-->
  <!--<li><a href="javascript:;"><i class="fa fa-tags"></i>Poem</a></li>-->
  <!--<li><a href="javascript:;"><i class="fa fa-tags"></i>Idiom</a></li>-->
  <!--<li><a href="javascript:;"><i class="fa fa-tags"></i>Contemporary</a></li>-->
  <!--<li><a href="javascript:;"><i class="fa fa-tags"></i>Textbook</a></li>-->
  <!--<li><a href="javascript:;"><i class="fa fa-tags"></i>History</a></li>-->
  <!--</ul>-->
  <!--</div>-->
  <!--&lt;!&ndash; END BLOG TAGS &ndash;&gt;-->
</div>